[2018-08-07 03:21] weiwu-zhang opened #1 "parse merkle based attestations"
Step 1. Provide a merkle tree based test data.
Step 2. Write parsing contracts which successfully validates against the said test data.

Thank you Sangalli for setting out a branch for this. I'll provide my test cases in the branch you made `merkle-tree-attestation`

[2018-08-09 02:39] colourful-land opened #2 "get spring-webflow boilerplate working"
Consider using the dependency reduced pom.

    <?xml version="1.0" encoding="utf-8"?>
    <project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">
      <modelVersion>4.0.0</modelVersion>
      <groupId>org.springframework</groupId>
      <artifactId>gs-

[2018-08-09 08:25] hboon opened #3 "Typo?"
https://github.com/alpha-wallet/ethereum-attestation/blob/master/paper/attestation.tex#L86:

"same or different", maybe? Sounds a bit odd.

[2018-08-09 08:26] hboon opened #4 "Typo"
https://github.com/alpha-wallet/ethereum-attestation/blob/master/paper/attestation.tex#L111:

"We use a comma separated"

[2018-08-10 00:34] colourful-land commented on #3
Solved. Thanks.

[2018-08-10 00:34] #3 closed

[2018-08-10 00:34] colourful-land commented on #4
Solved!

[2018-08-10 00:34] #4 closed

[2018-08-14 04:04] weiwu-zhang opened #5 "Login with identifier attestation"
Use case:

1. Website identifies a user with a web2 identifier, such as an email address.
2. When the user logs in to the website, he can choose to log in with an identifier attestation. If it matches the user-id, user logs in.

[2018-08-14 04:07] colourful-land opened #6 "Proving the number of attestations he has instead of attestation itself"
This is some food for thinking. If a person is rewarded a Philanthropist Attestation every time he donates money, would a dapp treat him differently if he donated 15 times? This might only need an attestation being re-issued if the donations come from the recognitions that are attested by the same attester.

[2018-08-14 04:15] hboon commented on #5
And is that website running on the same mobile device or another (desktop?) device?

[2018-08-24 10:26] colourful-land opened #8 "Parse object identifier encoded in DER"
I always prefer to break down projects into very fine small tasks.

Require to decode an object identifier in DER format with a minimum amount of gas, use op_codes if necessary.

Test case 1:

DER encoded `06 06 2a 86 48 86 f7 0d` should parse to: `1.2.840.113549`, which is a shorthand for:

    value1: 1
    value2: 2
    value3: 840
    value4: 113549

Relevant rule copied from an ASN.1 intro: h

[2018-08-27 08:32] colourful-land opened #10 "make an hmac function to be used in ethereum/lib/MerkleTreeAttestation.sol"
Since Solidity 0.4.3 `keccak256` is supported, which consumes half of the gas of `sha256`. `keccak256` is Ethereum-SHA-3 which is not SHA3. Be careful about solidity's `sha3()` function which is just an alias of `keccak256()`. Ethereum transactions are summarised with a MerkleTree in `keccak256`.

`sha256` uses 60 gas + 12 gas for each word (rounded up) for input data to a SHA2-256 operation. From

[2018-08-28 02:02] colourful-land commented on #1
@James-Sangalli  I have provided the sample data which can be easily organised into a test case. Kindly check `ethereum/lib/requires_attestation.sol`.

[2018-08-28 02:58] JamesSmartCell commented on #8
Makes total sense - I'll check it.

[2018-08-30 06:43] colourful-land commented on #10
@James-Sangalli you mentioned that since sha256 is implemented as smart-contract code, we may as well use libraries like safemath. Can you dig around to see if they support hmac? Thanks.

[2018-08-30 14:51] jot2re commented on #10
In regards to the keyed hash, it is easy and "cheap" to implement HMAC using any hash function, as it just requires some xor operations with a static string and an extra call to [the hash function](https://en.wikipedia.org/wiki/HMAC). Simply taking the key concatenated with data is open for [an extension attack.](https://en.wikipedia.org/wiki/Length_extension_attack)

In regards to choice of hash

[2018-08-30 15:28] jot2re commented on #8
Note that the  first `06 06` indicates that what follows is an object identifier, consisting of 6 octets.  That is, the first byte indicates that what is encoded is of the type `object identifier` and the second byte indicates the amount of octets following (in this case 6). See the rules in [section 3](http://luca.ntop.org/Teaching/Appunti/asn1.html) for details.

[2018-09-01 07:38] colourful-land commented on #10
Play with it if you have the time - it should be quick. Otherwise, we will do it.

[2018-09-02 15:02] lyhistory commented on #10
commited to branch lib/hmacsha256
I find someone has implemented it, made small changes, and tested, it seems working
![hmacsha256](https://user-images.githubusercontent.com/1522513/44957365-1ad9a000-af04-11e8-920e-67530b46f195.png)

[2018-09-03 07:08] colourful-land commented on #10
@jot2re is there anything we should pay attention to in regards to standardization? say if there is a standard way to do hmac our computation result should be the same produced by other tools like `ssl`

[2018-09-03 07:12] jot2re commented on #10
HMAC has a specific and formal specification. It is described I [RFC-2104](https://tools.ietf.org/html/rfc2104)
Unlike most RFC, this one is only 6 pages and actually readable :)

[2018-09-03 09:32] colourful-land commented on #10
@jot2re there is a bit of performance degradation using hmac compare to the underlying hash, to my understanding, only the leaf nodes need to be hashed with a key, correct?

[2018-09-03 10:04] jot2re commented on #10
I forgot to point out one important thing: Keccak is _not_ vulnerable to length extension attacks. So if _only_ Keccak is used it is actually not necessary to do HMAC, but H(key||message) should be sufficient.
@colourful-land I must admit I have become a bit in doubt of what the key is when we use HMAC in the context of Merkle trees. As far as I remember, when we discussed the attestation, when di

[2018-09-06 05:02] James-Sangalli commented on #10
Handled but no longer needed

[2018-09-06 05:02] #10 closed

[2018-10-12 07:19] colourful-land commented on #2
Solved in PR #13

[2018-10-12 07:19] #2 closed

[2019-11-14 08:54] colourful-land commented on #8
James Brown provided the code:

[DerDecode.sol.gz](https://github.com/AlphaWallet/blockchain-attestation/files/3845526/DerDecode.sol.gz)

[2019-11-14 08:54] #8 closed

[2019-11-17 04:38] weiwu-zhang opened #14 "DER data object decoder in Solidity"
Produce the code represented in the ellipsis, which parses a data object.

[code]
Testify that shows the bytes being correctly construted DER:
[code]

This is the python3 code to generate the DER-encoded data:
[code]

As you may have noticed I made everything `INTEGER` to make the work easier to start. Can't avoid the `ENUMERATED` type though.

----
An earlier decoder written by James Brown is att

[2019-11-18 01:22] colourful-land opened #15 "Encode DER attestation in URI?"
First, let's examine how long it would be. Let's take a X.509 certificate and modify it into an DER attestation.

[code]

Parse:

[code]

[2020-04-07 04:30] hboon opened #20 "Remove and gitignore `.idea`"

[2020-08-15 13:02] James-Sangalli opened #29 "Write a smart contract MVP that handles email attestation mock ups"
as specified here: https://github.com/AlphaWallet/blockchain-attestation/blob/master/use-cases/send-ether-by-identifier-attestation.md

- [ ] expand on the 2018 code to take the now formalised attestation
- [ ] expand on it to take the Cheque (test case pending from Tore)
- [ ] make the smart contract verify the Schnorr zk-proof of knowledge submitted in the redeeming transaction.

[2020-08-17 04:32] colourful-land commented on #29
Yes, there is already a half-baked one but there hadn't been github issue to track that work.

[2020-09-01 11:24] colourful-land commented on #29
@JamesSmartCell Tore has a new branch building on top of the Attestation code (implementing the Signable interface). This can be found in the branch attestation-addition: https://github.com/AlphaWallet/alpha-wallet-android/tree/attestation-additions/lib/src/main/java/com/alphawallet/attestation
This code includes a [.pem file which contains a signed attestation with secp256k1](https://github.com/A

[2020-09-04 02:41] colourful-land commented on #29
we had a smart contract MVP project planning meeting last evening at 7pm. @Soylentblue  will shoulder the majority of the work again which will take 2~3 weeks (I feel we can make it even shorter if lucky, e.g. that the assembly code for verifying zk-proof just works). He is able to start mid-week next week and Tore has already produced the whole smart contract code in Java so the work is porting i

[2020-09-07 06:20] colourful-land commented on #29
@JamesSmartCell With the [latest commit](https://github.com/AlphaWallet/alpha-wallet-android/commit/8e16c6dd9468c0b964c16ee4031e62e3c8cd1f80) now you can get a .der file. Try run the test case:

https://github.com/AlphaWallet/alpha-wallet-android/blob/8e16c6dd9468c0b964c16ee4031e62e3c8cd1f80/lib/src/test/java/com/alphawallet/attestation/TestAttestation.java#L58

You will get:

[code]
By the way yo

[2020-09-21 00:31] AW-STJ opened #31 "Build a lambda that takes a signing request and returns an attestation to be stored locally"
Trulioo JSON Response File:
[identityVerificationResponse.json.txt](https://github.com/AlphaWallet/blockchain-attestation/files/5252970/identityVerificationResponse.json.txt)

Latest iteration of swimlane of the process:
![image](https://user-images.githubusercontent.com/61957841/94798557-1fdfe500-0425-11eb-8f28-4d055b1dbc76.png)

[2020-09-21 00:33] AW-STJ commented on #31
Also sharing the wireframes of the KYC Screens, that captures the information to be passed on to Trulioo:
![image](https://user-images.githubusercontent.com/61957841/93725864-dbb73e00-fbf5-11ea-8aa1-5cb84ff39e8d.png)

[2020-09-21 00:37] AW-STJ opened #32 "Build a dummy certificate signing request JavaScript"
# New Requirement

Build CSR for identifier attestation to be used in attestation.id

# Old Requirement

(Old Requirement was abandoned thanks to the way Trulioo works)

----

This should be the real service that will replace the dummy service that will be created:
https://github.com/AlphaWallet/blockchain-attestation/issues/31

Trulioo JSON Response File:
identityVerificationResponse.json.txt

La

[2020-11-11 05:35] colourful-land opened #35 "find out gas consumption of parsing attestation + verifing"

[2020-11-27 05:25] James-Sangalli commented on #29
@colourful-land closed by https://github.com/AlphaWallet/blockchain-attestation/pull/34?

[2020-12-04 08:15] colourful-land opened #42 "create utility class for the common subset functions needed by attestation.id and attestation-using sites"
This class should do the following:

very basic utility Class -> now I call it secp256k1 (I hope not having to change much should Tore and James Brown decided to go to BN curves half way) with the following functions:

- key generation (I'll try to use webcrypto subtle api for browser-side security - warning this thing doesn't work on nodejs)
- creating a point
- point multiplication
- creating a

[2020-12-09 05:41] colourful-land commented on #20
Solved in https://github.com/AlphaWallet/blockchain-attestation/commit/a8a55114eb209df81743fa31446fd3966c6def9c

[2020-12-09 05:41] #20 closed

[2020-12-12 01:30] colourful-land opened #47 "Reduce tansaction size: by not including the signature in UseTicket"
The reason is that when the structure is used for a smart contract, the whole transaction is signed anyway by Bob, which includes the UseTicket or RedeemCheque, and being able to save a signature (and its verification) does matter when it comes to smart contract verification.

When the signatures are needed thanks to the structure being used on the web, we can add it then (e.g. making it optional)

[2020-12-12 20:02] jot2re commented on #47
I think (but I need to think a bit more about it) that is should be OK in our setting not to include the signature. However, this does allow for a mix-and-match attack by a man-in-the middle. (I.e. it allows a miner to try to combine a proof, attestation and ticket in a way not intended by the user). But if whatever the transaction is used for is strongly linked to the attested Ethereum address th

[2020-12-14 05:27] colourful-land opened #48 "JavaScript parser for SignedTicket"
1) Run the test-cases (or reach out to @jot2re if you need support in that) in order to get some binary (DER) data for a piece of SignedTicket.

2) Write the JavaScript needed to parse it and return an object that has the members such as:

https://github.com/AlphaWallet/blockchain-attestation/blob/5ab6174d3e17f209cca897d0ce91937ccf1d8ba0/data-model/SignedTicket.asn#L17-L19

3) However, do not retu

[2020-12-14 12:44] colourful-land opened #50 "Authentication process for attestation tokens based on identifier attestation"
The output of this issue should be some sort of document I think.

1. Finding owner:

Let's say the user have 3 tickets, 𝑎, 𝑏 and 𝑐. The first 2 of them are associated with alice@example.com and the last one is associated with bob@example.com (as of now we don't disallow 2 tickets to have the same identifier email address).

If the user does `Authenticator.findOwner(𝑎)`, then, somehow the 2nd tick

[2020-12-14 15:19] jot2re commented on #50
If we stick with the current approach and don't make changes according to [this](https://community.tokenscript.org/t/gas-issue-when-cashing-a-cheque-proving-ownership-of-an-attestation/445) then what Bob will hold will be the values  `s=H(i)^p` (from the identity attestation) and `u_a=H(i)^(q_a)` and `u_b=H(i)^(q_b)` where `u_a` is the part of Ticket `a` has already been authenticated.
Then he can

[2020-12-16 09:44] darakhbharat commented on #48
Hi Weiwu,

I have created new branch named **asn1js-development** and pushed initial version of JS code which parses the DER encoded data.

Right now I have created small pem file from SignedObjects.pem given by @jot2re. and extracted ticket(ticketClass, ticketId, conferenceId) object. Riddle part is not done yet.

To RUN the JS code open asn1js/public/index.html file in browser and upload attache

[2020-12-16 10:23] jot2re commented on #48
@darakhbharat both TICKET_ID, TICKET_CLASS, CONFERENCE_ID and TICKET_SECRET are integers, I.e. as specified in [this ASN1 file](https://github.com/AlphaWallet/blockchain-attestation/blob/master/data-model/SignedTicket.asn). ATTESTATION_SECRET is an Octet String instead.
The value of the riddle is computed from ATTESTATION_SECRET and MAIL and thus not given as argument.

The blockchain-attestation

[2020-12-16 21:29] oleggrib commented on #48
https://github.com/AlphaWallet/blockchain-attestation/blob/secp256k1-utility-class/esm/ts/src/libs/DerUtility.ts
we can use my code to decode ASN1DER . I have added support dor basic types that we need for "createCheque" and "requestAttestation". I can easy extend it to support other data types.

[2020-12-17 05:10] colourful-land commented on #48
did you write that from scratch? Impressive!

Whatever ASN1 parse/seraliser (which always have a DER reader/writer, like your DER reader in `DerUtility`) we choose to use, it must support dynamic typing eventually, and @darakhbharat thought of an XSLT way to do that back in May 2020 but hasn't implemented such. Read the discussion at that time https://community.tokenscript.org/t/parsing-der-with-a

[2020-12-24 05:45] colourful-land commented on #35
Quote @JamesSmartCell on the progress:

[2020-12-24 05:57] colourful-land opened #55 "test outputshouldn't be top level"
I'm waiting for the bn254 b ranch to be merged to fix this.

Reproduce:
[code]

Expected:

[code]

[2020-12-25 11:25] darakhbharat commented on #48
Hi Weiwu,

I have checked in In-development version of the decoder in new branch called **asn1js-development**.
One can open the index.html in the browser and paste the SignedTicket object encoded DER string in the textarea and click outside of the textarea( to trigger on change event.)

Right now the program is extracting ticketId, ticketClass, conferenceId but not the riddle. I am looking into i

[2020-12-25 23:09] colourful-land opened #56 "contract test does not work since James have not updated the solidity code yet to work with the BN256 and Pedersen commitments"
This line in TestPoK.java

      assertTrue(sc.testEncoding(pok));

[2020-12-26 17:20] jot2re commented on #47
We are sticking with the signature for now, right @colourful-land ?

[2020-12-26 17:21] jot2re commented on #56
I have not had this issue so far, but the code running this test is written by @JamesSmartCell as it is the code that integrated with the blockchain. Maybe you can have a look at this @JamesSmartCell ?

[2020-12-26 18:34] jot2re commented on #55
I have fixed this in the branch fixed-test-data and am making a PR now.

[2020-12-27 04:17] #55 closed

[2020-12-27 11:42] jot2re commented on #48
@darakhbharat there has now been a couple of small changes to the ticket format. Furthermore, I have made an update to ensure that all java tests are deterministic. So after PR #59 and PR #60 gets merged it should become easy to verify that things get parsed correctly in the JS implementation.

[2020-12-30 06:23] colourful-land opened #64 "adjust the SignedDevconTicket paser following 3-layer concept"
https://github.com/TokenScript/attestation/tree/3-layer-js-concept/3-layers leads to the 3 changes:

1. dataobject classes (which is the parser/serialiser) should be honest to the data structure and not be token objects (which is one layer above). That is, `SignedDevconTicket.ticket.ticketId`, not `SignedDevconTicket.ticketId`. It's Olegh's job to wrap that data and give the web developer Webster

[2020-12-30 10:39] colourful-land opened #65 "Java test code should emit more DER files that can be used to test JS data object classes"

[2020-12-30 14:25] colourful-land commented on #48
Solved by https://github.com/TokenScript/attestation/pull/62

[2020-12-30 14:25] #48 closed

[2020-12-30 15:57] jot2re commented on #65
This seems super easy to do since I already implemented an interface for objects that supports DER encoding; ASNEncodable. So this should just be a matter of renaming an interface and its method.

[2020-12-31 02:00] colourful-land opened #69 "Reduce tansaction size: by including compressed EC point"
I found that a devcon ticket is 92 bytes and a signedDevconTicket is as big as 396 bytes, which will bloat the bockchain. I'm thinking if there are ways to reduce it, since bytes costs on Ethereum too.

First, we can reduce devcon ticket by using compressed EC point (byte 17)

[code]

[2020-12-31 02:02] colourful-land opened #70 "Reduce transaction size: by not inclduing the EC parameter or include in a condensed way"
Many bytes are wasted to describe 0 and 7 (byte 150 and byte 184)

[code]

[2020-12-31 02:02] colourful-land commented on #47
The transactions are too fat. I think we should go for making the signature optional in the UseTicket (reason for not excluding it: I think including signatre in UseTicket is useful in 2-party authentication instead of the blockchain?).

To put in to the context, I hope we can do a project to solve this together with #69 and #70

[2020-12-31 05:16] #64 closed

[2020-12-31 05:23] colourful-land opened #71 "some data not extracted by current parser"
Previous @darakhbharat commented:

First let's observe what is already extracted:

[code]

I believe @darakhbharat  refers to byte 84 to byte 320:

[code]

Now, condensing this part is the task of #70 so this issue depends on that one. I'll keep this open until we have a resolution on #70

[2020-12-31 05:55] colourful-land opened #72 "Reduce transaction size: not including Pedersen commit in the ProofOfExponent"
Is it possible?

[2021-01-02 01:33] colourful-land opened #75 "Implmenet PublicKeyInfo"
It's used in `SignedDevconTicket`.

[2021-01-02 01:40] colourful-land opened #76 "Remove default values for non-optional elements"

[2021-01-02 09:14] darakhbharat commented on #76
This is completed and committed to the branch asn-gas-optimization

[2021-01-02 09:46] colourful-land commented on #75
While PublicKeyInfo is still useful (in identifier attestation I suppose), I'm [making the argument of not including it](https://github.com/TokenScript/attestation/pull/74#pullrequestreview-560616160) in SignedDevconTicket (the one that should be delivered by the end of 2020 but haven't due to refactoring of the ASN schema).

[2021-01-02 12:04] colourful-land commented on #75
@jot2re decided to keep `PublicKeyInfo` optional instead of dropping it, so this issue can continue now.

[2021-01-02 12:08] colourful-land commented on #76
solved in https://github.com/TokenScript/attestation/pull/74

[2021-01-02 12:08] #76 closed

[2021-01-02 12:08] colourful-land commented on #70
Solved in https://github.com/TokenScript/attestation/pull/74

[2021-01-02 12:08] #70 closed

[2021-01-02 12:13] colourful-land opened #77 "need a solution for 𝑣 value in smart contract"
When a website wishes to authenticate a decon ticket, the wallet / javascript may submit a data object `SigendDevconTicket` with `PublicKeyInfo`.

But `PublicKeyInfo` is expected to be left out in transaction since Solidity doesn't support ec_verify anyway (@JamesSmartCell or @James-Sangalli know whether the assumption is true?), there is no gas saving by attaching the public key. Therefore, the s

[2021-01-02 12:14] colourful-land commented on #77
What is actionable for @jot2re's suggestion to be implemented? Should we modify the Devcon isssuer class? in that case this issue should be assigned to @jot2re

[2021-01-02 12:22] colourful-land opened #78 "add MagicLink in the test case"
Specifically, it's needed in TestTicket so the devcon folks can see how they can generate one of those.

[2021-01-02 18:23] jot2re commented on #78
I have refactored testURL so that the Ticket tests are now in testTicket and the Cheque tests are in testCheque.
The test testTicketURLSunshine constructs a magic link

[2021-01-02 18:25] #78 closed

[2021-01-02 18:31] jot2re commented on #69
For completeness I will just mention that we discussed this issue at the meeting and after consulting with @JamesSmartCell we came to the conclusion that it would probably end up being more expensive to use a compressed point, since then the y point must be recomputed. However, this can be further investigated. Maybe when @JamesSmartCell has time to write two Solidity tests; one that uses the full

[2021-01-02 18:35] jot2re commented on #77
Actually the code already ensures that the smallest value of y is used. So I think this is actually just an issue of whether we can use this to hardcode the v value in Solidity. I think @JamesSmartCell is the one who would know this

[2021-01-03 02:55] colourful-land commented on #77
Okay, I'm in preference of trying both value v in the smart contract. The smart contract should have an idea what public key to expect (hard-coded or, even better, returned from a smart contract, but perhaps in the next a few months though).

[2021-01-03 07:35] colourful-land opened #80 "instantiate data object through magic link"
This is where the Java code produce the test URL
https://github.com/TokenScript/attestation/blob/dee1a23d36911169686bfab12d141a034423d003/src/test/java/com/alphawallet/attestation/ticket/TestTicket.java#L64

This issue is considered solved when the test case works. Currently in `data-object-from-magic-link ` branch:

[code]

[2021-01-03 08:25] JamesSmartCell commented on #77
The important thing with 𝑣 is only if it's odd or even. It's a convenience for calculating the Public Key from the signature. If even, then we take the point above the x-axis, if odd then the one below. It's recommended to only use v=27 and v=28 although I've seen dapps using 0 and 1. If we control all the flow paths then we know it's either 27 or 28, if not, then we need to check odd or even.

[2021-01-03 09:44] jot2re commented on #77
I realised that we actually don't even need to generate the public key to have a specific sign. We can instead simply store the *v* value with the public key address we need to verify against. In that way we only need to do one ecRecover.

[2021-01-03 10:47] jot2re commented on #77
In any case I also updated the code to ensure the lowest possible y value is used in PR #81
This is done in CryptoTest.testECKeyWithLowY

[2021-01-03 10:48] jot2re commented on #77
I think the lasts bits to handle this has to be done in Solidity so I am assigning it over to @JamesSmartCell

[2021-01-03 12:18] JamesSmartCell commented on #35
Results from removing elements of the smart contract:

Only EC math (ie no decoding of any kind): 58,977
EC math plus forming the Challenge (concatenate, hash and modulo): 68,114
EC math, form challenge plus decode coordinates from hardcoded bytes: 141,494
EC math, form challenge, decode coordinates from DER decode: 208,118

Looks like the optimisation that will payback the most is the coordinate

[2021-01-03 12:22] colourful-land commented on #77
I agree with this.… But that goes to @JamesSmartCell as well, since he needs to code the public key or ETH address of the issuer in the example contract.

[2021-01-03 12:53] colourful-land commented on #35
Quote his update:

Current reality reported by @JamesSmartCell

[2021-01-03 13:02] colourful-land commented on #29
Yes but continues to #35 to drive down the cost of using.

[2021-01-03 13:02] #29 closed

[2021-01-03 16:15] darakhbharat commented on #80
Hi @Weiwu, @Oleh

I was trying the below approach for constructing DevconTicket data object from the magic link.

[code]

But then Weiwu remindered about checking how it is done in Java.

I checked corresponding code in
	- TestTicket.java function testTicketURLSunshine and
	- URLUtility.java function decodeData.

Then

I referred the code from @Oleh here - [](https://github.com/TokenScript/attesta

[2021-01-03 22:19] JamesSmartCell commented on #35
Good news, after hand optimising the less efficient code I was able to bring the whole function operation down to
120,213 Gas.

There's still a couple of areas left that can be optimised as when I wrote them I wrote them to be generic, since we know what data is expected that can be optimised a bit further.

[2021-01-04 05:06] JamesSmartCell commented on #35
After further hand optimisation, 73,560 Gas.

This will be the final gas spend for this contract, with the 'biased' array hash (which is vulnerable). I will move onto the new implementation outlined by Tore.

[2021-01-04 05:15] colourful-land commented on #35
You mean this is reduced to 73.5 K? Marvelous!

[2021-01-04 05:30] JamesSmartCell commented on #35
Correct, full verification 73.5K, down from the 208,118

[2021-01-04 06:47] #77 closed

[2021-01-04 08:59] darakhbharat commented on #80
More findings on this is we may even not need the stuff from the https://github.com/TokenScript/attestation/blob/secp256k1-utility-class/esm/ts/src/libs/DerUtility.ts

as the asn1 library provides the URL decoding already. It has function fromBase64 which is capable of hadling base64URL data.

Here is what I have tried but still not completed.

[code]
As Weiwu said there is extra stuff not just ba

[2021-01-04 09:52] colourful-land commented on #80
Getting @jot2re's attention here but the answer how to parse the data once you decoded it is in the Java source code (should be in `TicketDecoder` class)

[2021-01-04 10:23] jot2re commented on #80
Yes, `TicketDecoder` shows how to decode a public key. In regards to the question of update to the schema, the answer is also yes. It needs to be consistent with `SignedDevconTicket.asd`/`SignedDevconTicket.asn` in the main branch

[2021-01-04 12:48] oleggrib opened #82 "AttestorTest > testSunshine() FAILED with JDK15"
I have got gradle test failed on win10 (JDK 15)

AttestorTest > testSunshine() FAILED
    org.bouncycastle.operator.RuntimeOperatorException at AttestorTest.java:84
        Caused by: java.security.SignatureException at AttestorTest.java:84
            Caused by: java.security.InvalidAlgorithmParameterException at AttestorTest.java:84

79 tests completed, 1 failed

I attached test report
[dk.alexa

[2021-01-04 12:54] colourful-land commented on #82
Looks like this issue is specific to JDK15 - we didn't exeriene it because I used JDK14 and James Brown JDK11
https://seanjmullan.org/blog/2020/10/13/jdk15

--

## The native elliptic curves have been disabled by default

The elliptic curves that are implemented in native C code in the SunEC provider have been disabled by default. These curves are no longer recommended and/or are not implemented u

[2021-01-04 13:28] oleggrib commented on #80
@darakhbharat , this code grab params from URL and prepare buffer for new Ticket.

const magiclink = readFileSync('build/test-results/mah@mah.com.url', 'utf8')
const url = new URL(magiclink);
let searchStr = url.search;
searchStr = searchStr.substr(1);
let base64str = searchStr
    .split('_').join('-')
    .split('/').join('+')
    .split('.').join('=');

dataobj = new SignedDevconTicket(Buffer.f

[2021-01-04 15:00] jot2re commented on #82
So it seems to only be an issue int he Trulioo specific code. Basically it seems that the issue is that even though we use BC for the ECDSA crypto, when we verify a certificate it makes a call to the underlying standard Java code to verify the signature and hence it fails in Java 15. I can try to see if there is a way to force this to be verified using only BC's implementation of ECDSA. I suspect

[2021-01-04 15:58] jot2re commented on #82
I have fixed this in PR #84

[2021-01-04 15:59] #82 closed

[2021-01-05 03:11] colourful-land opened #85 "URL format changed to add secret"
Sorry, the URL format is changed in order to take a secret.

Previously it was like this:

[code]

Now it is like this (notice that origial queryString is made into the `ticket=…;secret=…` format, noticed the addition of secret).

[code]

@darakhbharat consider accepting only the ticket=… portion as secret is irrelevant to you.

Note to @nicktaras
Negotiator must be able to store one secret per ti

[2021-01-05 09:52] #80 closed

[2021-01-05 09:52] #85 closed

[2021-01-06 14:47] jot2re commented on #47
Disregard my previous comment about mix-and-matching. It should not be an issue since the transaction will be signed by the user before it reaches the miner.

[2021-01-06 16:25] jot2re commented on #47
This is closed by PR #89

[2021-01-06 16:25] #47 closed

[2021-01-06 16:25] jot2re commented on #72
This is closed by PR #89

[2021-01-06 16:25] #72 closed

[2021-01-07 07:13] colourful-land opened #94 "fake dao voting test-case"
which has

    vote(candidate_id, use_ticket)

where use_ticket is here

https://github.com/TokenScript/attestation/blob/main/data-modules/src/UseDevconTicket.asd

which contains SignedDevconTicket, which can be found here:
[code]

You can open it up with javascript:

[code]

And notice the last byte array is the signature, you can get the asn1 structure through this:
[code]
So the first integer a

[2021-01-07 12:56] jot2re commented on #94
Note that PR #89 changes the UseDevconTicket ticket to make signature optional and to use a Proof that does not include the riddle.

[2021-01-07 13:30] jot2re commented on #94
I looked up a bit further in the SEC1 spec. Basically 3 bytes are allowed to prefix an elliptic curve point. The cases are as follows:
1. 0x04; the point is uncompressed and includes the concatenation of the X coordinate followed by the Y coordinate.
2. 0x02; the point is compressed and only includes the X coordinate and the parity of the Y coordinate is 0 (i.e. Y mod 2 =0).
2. 0x03; the point is

[2021-01-08 01:43] colourful-land commented on #94
Nice! So @JamesSmartCell should be able to find 𝑣 value by just looking at the devcon issuer public key's last bit.

[2021-01-11 11:07] colourful-land opened #98 "receive-cheque shouldn't consult the blockchain"
# Reproduce:

## Pepare ##

[code]

## Run the faulty step:

[code]
# Cause

It seems receive-cheque wants to connect to the blockchain.

# Suggested Fix:

1. receive-cheque shouldn't send the cheque to the blockchain, but merely check everything is correct
2. add a `redeem-cheque` step which actually does so

This way developers can treat the integrity of the protocol and do the actual test on th

[2021-01-12 09:42] jot2re commented on #98
To make the redeem request work on the blockchain we need PR #91 merged since this will contain the updated smart contract code for verifying proofs because right now AttestationCrypto contains the new logic but the smart contract still contains the old logic.

[2021-01-12 10:47] jot2re commented on #98
I made a new branch for this issue "seperate-redeem-cheque-steps".
I have implemented the changes you requested @colourful-land  but we still need the completion of PR #91 by @JamesSmartCell   before the demo can run fully without errors.

[2021-01-14 13:56] colourful-land opened #99 "create the web authentication backend at org.tokenscript.auth"
Verify SignedDevconTicket (against known pubkey)
Verify MyAttestation (against known pubkey)
Verify the zk proof
Verify the challenge is in the message
Verify the signature is attested by MyAttestation.

The “Message” is signed by wallet (e.g. metamask)
therefore have a prefix. It might be a json array with
Base64 encoded UseDevconTicket:
{“useDevconTicket”: “Ze8zE/==”, “challenge”, “809843…”}

[2021-01-15 12:22] oleggrib commented on #99
We have to create some detailed flow of signing message.
Also org.tokenscript.auth have to send verify status to the bogota backend directly
And I think user have to signWithMetamask message like "Sign Ticket verification hash: 0xc89efdaa54c0f20c7adf612882df0950f5a951637e0307cdcb4c672f298b8bc6"(simple message easy to understand for user, user will see it in Metamask), where hash - keccak256 of the

[2021-01-17 18:09] darakhbharat commented on #65
Hi Weiwu,

I have implemented the serialize method and updated the test cases in ParserSerializerTest.js. I am pushing my changes in branch - **asn1js-parser-serializer**

what I have tried is get Object from the existing der file and serialize it to new file. It creates exactly same DER data.

[code]

Now next goal is to instantiate dictionary object to be serialized.

[code]

I know value of the

[2021-01-17 18:15] darakhbharat commented on #75
Hi Weiwu,

I have completed the extracting PublicKeyInfo from the DER encoded data in SignedDevconTicket. Also added a test case in ParserSerializerTest.js.

Test Case:

[code]

Result:

[code]

The related code is pushed in branch - **asn1js-parser-serializer**

[2021-01-18 07:31] jot2re commented on #65
Hi @darakhbharat, sorry if I am misunderstanding the specific problem/assignment, but @oleggrib already implemented the  AttetsationCrypto in javascript, so you can use his code to compute these aspects and then your code to (de)serialise.
I think what you are specifically looking for is this https://github.com/TokenScript/attestation/blob/javascript-crypto/src/main/javascript/crypto/src/libs/Atte

[2021-01-18 07:36] darakhbharat commented on #65
Great! Thanks! I will check this out and see how can I integrate it with my code.

[2021-01-18 12:16] colourful-land commented on #75
@jot2re his work can be verified by running

[code]

I'll attempt to add some integration test on top of it so the DER from java is parsed by JavaScript then the other way too.

[2021-01-22 13:28] jot2re commented on #99
This is fixed by PR #101

[2021-01-22 13:28] #99 closed

[2021-01-25 09:00] jot2re commented on #75
All the tests seem to pass on my machine.
@darakhbharat is this ready for review?

[2021-01-25 09:15] jot2re opened #102 "Cryptographic enhancements"
A couple of cryptographic enhancements to increase the cryptographic robustness of the system. Ideally this should make the system closer to being formally provable secure and harder to compromise in case of programming errors or future design errors.
Note: No usable attacks are known that take advance of these enhancements not being in place.

1. Ensure that the Proofs of Knowledge are linked to

[2021-01-25 09:21] jot2re opened #103 "Use Ethereum private signing methods for user signing in java"
Currently signing using secp256k1 in the Java code does not implement the Ethereum private signing method. I.e. it does not prepend "\x19Ethereum Signed Message:" nor hex encodes the data to be signed.
This should be fixed such that this method is used when the user signs.

[2021-01-25 13:36] darakhbharat commented on #75
Yes. I mean:

#75 - Decoding PublicKeyInfo from the DER data is completed.
#65
	- Implemented serialize method which creates exactly same DER data when decoded to object from the existing DER file and serialize it to new file.
	- JS serialize using instantiating the dictionary object is not completed yet.

[2021-01-27 15:40] jot2re opened #106 "Ensure proper OID of signing algorithms"
As pointed out by @colourful-land  in PR #105 we are currently not completely following standards in relation to use of OID when singing using Keccak in Attestations (and perhaps other places where OID is used).
The goal of this issue is to investigate if there is a more appropriate OID we can use and to ensure that it is not set statically since we ideally want to support attestations being signe

[2021-01-28 03:42] #98 closed

[2021-01-28 03:47] colourful-land opened #107 "Rename components in .sol as Tore suggested"
Can't hold #91 any longer (it's been a month!!)
https://github.com/TokenScript/attestation/pull/91 mentioned some renaming stuff that @JamesSmartCell must do

[2021-01-30 19:04] darakhbharat opened #108 "Automatically generate ASN1JS data object classes from ASD data-modules"
Need to implement XSLT script that can convert input ASD data module structure into a working ASN1JS data object classes. The resulted asn1js parser can be used for encoding / decoding ASN1 sequence.

[2021-02-02 11:54] jot2re opened #109 "Failure in integrating new PoKs with the smart contract"
With the recent merge of the updates to smart contract code and optimisations, it turns out that the smart contract integration does not work completely with the java implementation any more (or that the java code has not been updated to use the new smart contract).
This can be seen when running the tests in TestDemo in the TestDemo.java file and SmartContractTest.java.
It turns out this is most l

[2021-02-04 09:30] #109 closed

[2021-02-10 08:20] jot2re commented on #107
These things have been changed after talking with @JamesSmartCell

[2021-02-10 08:20] #107 closed

[2021-02-12 09:49] jot2re commented on #103
Closed by PR #105

[2021-02-12 09:49] #103 closed

[2021-02-12 09:51] jot2re commented on #56
Closed by #111

[2021-02-12 09:51] #56 closed

[2021-02-22 08:30] jot2re opened #112 "Implement Eip712 signing for all cases where the user needs to sign"
So far the reference implementation only uses EIP712 for web authentication. To make the whole flow user-friendly and pretty this message format should be implemented all places where the user needs to sign. This includes:
1. Attestation request.
2. Attested object.

[2021-02-22 10:32] colourful-land commented on #112
User-friendliness is not the only thing we should watch for. Today's transaction costs $80 USD easily. Gas....

When authenticating for the web, or doing capability attestation, there is no gas consideration so we should maximise user experience

[2021-02-22 11:17] jot2re commented on #112
Auch! That is a huge price increase. I still think item 1 is valid, since this is never going to be posted to the blockchain as you also point out. In regards to item 2  it is currently only used unsigned in the webauthentication flow (since it is just a component of what is signed). So with you comment in mind I think we should not touch the signing of this (at least for now).
I am also realising

[2021-02-25 15:45] jot2re commented on #112
Closed (so far) by PR #113

[2021-02-25 15:45] #112 closed

[2021-02-25 15:48] jot2re opened #114 "Implement EIP712 email attestation"
In a similar manner as to the ticket/email combo authentication mechanism already implemented based on EIP712, we also want to implement this for just an email attestation.

[2021-02-28 10:34] darakhbharat commented on #65
Hi Weiwu, Oleh,

The current status of the signedDevconTicket is almost near to completion except dictionary object initilization for commitment and signatureValue.

commitment:

I have tried port the Oleh's code and use it for the same but here are the issues I am facing for makeCommitment.

_alphawallet\attestation\src\main\javascript\crypto_js\lib\AttestationCrypto.js_

[code]

TypeError: getRa

[2021-02-28 11:27] darakhbharat commented on #108
Hi Weiwu,

Current status of automatic generator is signedDevconTicket can be generated successfully using the code and the generated code is working same as current one.

Next steps would be to make the AttestationRequest working using autogenerator as well as manual code implementation for the same.

It will require the implementation of JS classes like ProofOfExponent, AttestationFramework to c

[2021-02-28 21:34] ligi opened #115 "Change DevconID to String"
As discussed with weiwu - please change the type of DevconID from a number to String - thanks!

[2021-02-28 21:50] colourful-land commented on #65
Very good news and I'll check this morning

[2021-03-02 09:41] oleggrib commented on #65
Hi, Bharat, can you chech last version of the code?
https://github.com/TokenScript/attestation/blob/javascript-crypto/src/main/javascript/crypto/src/libs/AttestationCrypto.ts#L193-L213
it should work for you.

[2021-03-11 09:37] jot2re commented on #115
Closed in PR #118

[2021-03-11 09:37] #115 closed

[2021-03-11 09:48] jot2re commented on #106
Implicitly and partially handled in PR #117. Concretely the OID for ECDSA with SHA256 is used for signed attestations (for being more compatible with x509). These attestations are also signed using SHA256 since they are currently not verified on the blockchain and this is more standard. However, I guess we eventually will want to sign using Keccak (this can be changed by modifying 3 lines of code

[2021-03-11 09:54] jot2re commented on #102
Part 1 has been partially handled in PR #113 where support for nonce in the ZK proofs have been added (though it is optional). So far it is only used in attestation requests. Furthermore, note that the nonce currently is context and time-based. I.e. short term replay attacks are possible for the same service.

[2021-03-11 19:54] colourful-land opened #119 "Change DevconID to String in ASX / ASN and resulting JavaScript"
Change DevconID to String is solved on the issuer side in #118. Follow that change

[2021-03-14 16:20] darakhbharat commented on #119
Hi @colourful-land,

I have implemented the change in the branch DevconIDToString, similarly I have updated the autogenereation script and incorporated the related changes (DevconID to String) in my development branch asn1js-parser-serializer(#108).

I can create the pull request from required branch as you suggest. My dev branch asn1js-parser-serializer has some work in progress changes but we ca

[2021-04-16 10:54] jot2re commented on #114
Closed with merge of PR #117

[2021-04-16 10:54] #114 closed

[2021-04-30 05:00] colourful-land opened #126 "update build.gradle"
[code]

[2021-05-03 01:28] colourful-land commented on #126
I solved it https://github.com/TokenScript/attestation/commit/2b7b99fee908d858c24639180309084b7de8ff08

[2021-05-03 01:28] #126 closed

[2021-05-03 06:37] colourful-land opened #127 "src/test/java/com/alphawallet/attestation/HelperTest.java refactor out of existance"

[2021-05-07 11:37] colourful-land opened #128 "identity->identifier change keyword name"

[2021-05-13 11:43] jot2re commented on #128
@colourful-land would you like me to handle this one?

[2021-05-13 11:43] jot2re commented on #127
@colourful-land would you like me to handle this one?

[2021-06-03 04:14] AW-STJ opened #130 "Create 'token negotiator' npm package out of authenticator and negotiator"
Create npm package that provides two modules  - authenticator and negotiator. Need to create a repo to deploy the package and update this repo to use it.

[2021-06-03 04:20] AW-STJ opened #131 "Attes.sol Library"
Needs to convert the DAO contract that we have, into a DAO example and library.

[2021-06-03 04:22] colourful-land commented on #131
Is it this code? ./src/test/java/com/alphawallet/attestation/demo/UseAttestation.sol -> if so, move it to a includable library sol?

[2021-06-03 04:23] AW-STJ opened #132 "Library documentation"
Need to write typical npm documentation, as part of the Token Negotiator repo.

[2021-06-03 04:36] AW-STJ opened #133 "Convert example website into a Git website"
Check if working then host the website. Otherwise, convert it to a separate issue in the respective repository.

[2021-06-03 04:39] AW-STJ opened #134 "Add email id to magic link generating Java function"
Append the attestation link generated with users email, using
&email=

[2021-06-03 04:41] AW-STJ opened #135 "Make key configurable"
The link generator should be using key that is not in the source code.

[2021-06-03 04:48] AW-STJ opened #136 "Devcon orientation documentation (One page)"
Handover document to devcon, it should contain.
1. Link and explanation to the two examples
2. Link and explanation to the attestation library and demo DAO contract that uses it
3. Link to link generator, how to configure key and use it
4. Link to npm package that is used in the examples

[2021-06-06 05:44] colourful-land opened #139 "reïntroduce RSA signature verification thanks to Berlin fork"
EIP 2565 brings down gas cost for verifying RSA signature to the same level.

[2021-06-16 02:25] nicktaras commented on #136
TODO Nick - Understand how the link generator will be provided for this demo. Thread for conversation inside Discord, Attestation channel.

[2021-06-16 07:05] nicktaras commented on #133
https://tokenscript.github.io/token-negotiator/examples/

This link can be updated as the examples are built.

[2021-06-17 05:36] colourful-land commented on #135
This is the time we use the reference implementation of a contract with `verify() returns bool` function or `signingKeys() returns Keys` function.

[2021-06-17 06:32] colourful-land opened #140 "flow completeness tracking issue"
U = Ticket Recipient
DT = Devcon Ticket Site
AID = identifier attestation issuer (attestation.id)
TPS = Third-party website (bogota.hotel)
BLS = Browser Local Storage

EPOCA = explicit permission or capability attestation

Flow to create attestation (need negotiator+authenticator on DT)

1. Devcon website (after user paid for the ticket) generate a ticket attestation -> magiclink
1. U receives mag

[2021-06-17 07:28] colourful-land opened #141 "either complete nftattestation (by adding solidity code and integration test) or remove nft attestation"
if complete it:

- adding solidity code and integration test
- back reference it from alchemyNFT project (remove VerifyAttestation.sol from there)

If remove
- this should be gone

https://github.com/TokenScript/attestation/tree/main/src/main/java/io/alchemynft/attestation

[2021-06-18 07:40] #134 closed

[2021-06-18 11:23] #140 closed

[2021-06-22 05:32] colourful-land opened #144 "create fake.attestation.id with both frontend and backend"
The website is not intended to be accessed by itself, but rather, always accessed using IFRAME.

[2021-06-30 07:09] colourful-land opened #147 "build failed with eip712 errors + using deprecated API in IdentifierAttestation.java"
[code]

[2021-07-01 02:41] nicktaras commented on #136
@AW-STJ - for this item, Link to link generator, how to configure key and use it

I am not across this item, who would be best to gather some documentation for this?

[2021-07-01 02:43] nicktaras commented on #136
@JamesSmartCell - would you be able to help provide some details around this that I can append to the devcon readme.

Link and explanation to the attestation library and demo DAO contract that uses it

[2021-07-01 02:44] nicktaras commented on #133
Closing issue - we can host through github.

[2021-07-01 13:25] jot2re commented on #147
This is a bit weird, I just ran the tests on main locally and I don't have any failures.

[2021-07-02 06:51] colourful-land opened #153 "remove the signing of useTicket"
I think during the devcon demo I noticed useTicket being signed. if it is true, it should be skipped. both the smart contract and the front end should allow useTicke to be used without signed.

on another note, useTicket should be different for each transaction bounce, but that can be done in a separate issue.

[2021-07-02 06:52] colourful-land opened #154 "move example dapp to github pages"
from duckdns. Nick can do that and @JamesSmartCell will be across

[2021-07-02 06:53] weiwu-zhang opened #155 "make our api able to provide authorised transactions"
maybe on top of authenticating we also provide an authorisation interface.

[2021-07-02 08:08] oleggrib commented on #153
currently useTicket just combined ticket+attestation+proof without signature and it always same while attestaion not expire
useEthKey contains signature of the challenge

[2021-07-05 00:32] colourful-land commented on #147
I can't get openjdk 15 running on my host but I got both 14 and 16 running and both produce errors. The following is copied from a host running openkdj16, running test case `public void referenceEncoding()` from `./src/test/java/org/tokenscript/eip712/Eip712Test.java`

Notice how the value of `signatureInHex` differs from one to another.

@JamesSmartCell can you reproduce the issue?

[code]

[2021-07-05 00:37] colourful-land opened #156 "setup CI to prevent issues"
to prevent issues such as #147 where build error is committed into the system.

It only needs to run `gradle build` successfully. Use gradle 7.

Note that we require JDK 11 or higher in the README.md but you can experiment with different versions of Java if one of them can make issue #147 go away we will stick to it, since it will take hours or even days to get #147 addressed for all Java versions

[2021-07-05 00:43] colourful-land opened #157 "log files are on the top level - should be in a subdir"
[code]

[2021-07-05 08:19] jot2re commented on #147
Okay, based on @colourful-land's observation, it seem that the issue is simply that the "randomness" used is not deterministic when Weiwu is running it.
This can either be an issue with these two lines in  `SignatureUtility`:
[code]

[2021-07-05 08:42] jot2re commented on #147
Having looked further into this, it seems to be an issue with the default security provider being different on different systems. I have tried committed a change forcing it to use the Sun provider specification. Which, as far as I can read, _should_ also be available on openJdk systems (which is also what I run).

[2021-07-05 09:12] colourful-land commented on #147
didn't work. even with c443aa3359461126d4e9c18dc9356465afb485c6 I still got this:

[code]

[2021-07-05 15:36] jot2re commented on #147
@fyang1024 discovered the issue was in fact related to local time-zone being used when constructing attestations. This should be fixed now.

[2021-07-08 12:12] samuelhbne commented on #157
Hi guys,

Could you please share the trick over how to reproduce this issue? "gradle test" could not reproduce the logs listed above.

[2021-07-08 13:25] colourful-land commented on #157
verified unreproducible. could be fixed by someone. closing.

[2021-07-08 13:25] #157 closed

[2021-07-11 12:05] #147 closed

[2021-07-11 12:06] colourful-land commented on #156
fixed by #152

[2021-07-11 12:06] #156 closed

[2021-07-12 01:16] colourful-land opened #159 "test cases failed in Java 11 and Java 16 on 2 computers"
On my PC:
[code]

[2021-07-12 01:19] colourful-land commented on #159
It seems one of the previous fix I applied actually reduced the failed test-cases. An earlier version had more:

[code]

[2021-07-12 01:24] colourful-land commented on #159
The same issue is reproduced if I use java/javac from jdk16
[code]

[2021-07-12 12:45] samuelhbne commented on #159
Could not reproduce this on Ubuntu-20.04 AMD64 with Java-11.0.11 and Gradle 7.1.1

[code]

[2021-07-12 12:51] samuelhbne commented on #159
Could not reproduce this on Ubuntu-20.04 AMD64 with Java-16.0.1 and Gradle 7.1.1

[code]

[2021-07-14 05:48] colourful-land commented on #159
could reproduce it with Ubuntu-20.04 AMD64 with Java-16.0.1 and Gradle 7.1.1

[2021-07-15 07:09] colourful-land opened #160 "gradle testJavaScript failed (require nodejs > 15)"
[code]

[2021-07-15 12:02] oleggrib commented on #159
I have got issue with tests for Windows 10

------------------------------------------------------------
Gradle 6.7.1
------------------------------------------------------------

Build time:   2020-11-16 17:09:24 UTC
Revision:     2972ff02f3210d2ceed2f1ea880f026acfbab5c0

Kotlin:       1.3.72
Groovy:       2.5.12
Ant:          Apache Ant(TM) version 1.10.8 compiled on May 10 2020
JVM:          15

[2021-07-16 12:52] colourful-land commented on #159
I once fixed one of the 4 errors I had (that's why I only have 3 errors). The fix I had is:

https://github.com/TokenScript/attestation/commit/52c6b261751e85b407fa0aefc31705f9593e1526

I hope this might shed some light on the cause of these problems.

[2021-07-16 23:28] #128 closed

[2021-07-18 14:33] #160 closed

[2021-07-19 01:41] colourful-land opened #165 "reduce github cost"
there is no way we could have created 2GB source code, maybe be some mistake?
maybe we uploaded video or binary to the source code somewhere?

[2021-07-19 01:46] colourful-land commented on #159
fixed by #164

[2021-07-19 01:46] #159 closed

[2021-07-19 02:13] colourful-land commented on #154
done.

[2021-07-19 02:13] #154 closed

[2021-07-19 14:43] samuelhbne commented on #160
It looks the test for creating SignedDevconTicket from signed-devcon-ticket.der file failed. Which was generated previously from src/test/java/org/devcon/ticket/TicketTest.java. The real issue occurred on src/main/javascript/SignedDevconTicket.js#L232

That was out off my knowledge. Anyone look into it?

[2021-07-19 15:05] samuelhbne commented on #165
It looks only Org owner can view these options. Please look into it. @colourful-land

https://docs.github.com/en/billing/managing-billing-for-git-large-file-storage/viewing-your-git-large-file-storage-usage

[2021-07-19 17:22] oleggrib commented on #160
I will check it in meantime.

[2021-07-19 18:01] darakhbharat commented on #160
I have been untouched with the source and project for many days but wanted to point to the last development branch where some of the issues have been fixed.
Branch: [https://github.com/TokenScript/attestation/tree/asn1js-parser-serializer]

@oleggrib  - Please also refer the changes from this branch and consider to merged with latest branch if that helps in any way. Testing and verification is req

[2021-07-27 08:08] jot2re commented on #153
I agree with @oleggrib regarding this issue. But even though adding the signature ensures that the useTicket is different each time, it is still possible to reuse an old useTicket as it remains valid.  However as we have briefly discussed a bit previously simply adding an unpredictable to the proof can ensure that it is unique each time and that it can be linked to a specific use context. The java

[2021-07-27 09:54] jot2re opened #167 "Add unpredictable number to AttestedObject ZK proof"
After completion of #153 a UseTicket object (realised by AttestedObject<Ticket>) will be deterministic. As noted by both @oleggrib and @colourful-land this is an issue.
We instead wish to ensure that it is randomised each time by adding an unpredictable number to the ZK proof construction. This also allow us to directly link a UseTicket object to a specific challenge or usage context trivially.
Th

[2021-07-27 11:45] jot2re commented on #167
Note this has to been done after PR #168

[2021-07-27 11:57] #153 closed

[2021-07-27 18:32] jot2re opened #170 "Completely remove signature from UseTicket"
The issue #153 got closed too fast with PR #168.
This new issue is to handle the remaining code changes needed.

[2021-07-27 18:33] jot2re commented on #170
@JamesSmartCell I have removed the signature form UseTicket object. This affect one of your tests interacting with the blockchain. The test itself currently works when run locally but I imagine some Solidity code change is required. It is `UseTicketTest.testSmartContractDecode` and I have tagged you.

[2021-07-27 18:37] jot2re commented on #170
I have made a new PR handing the removing of the signature from the Java code. However I believe that some JS and Solidity updates are also needed. @JamesSmartCell @oleggrib Please check PR #171 and update as needed

[2021-07-28 10:38] jot2re commented on #167
@nicktaras or @fyang1024 could you have look at the JS part of this issue.

[2021-08-03 01:38] #170 closed

[2021-08-11 12:24] ligi opened #172 "StatusLogger ERRORS"
when updating to v 0.3.3 of the generator the link is still generated in stdout but there are errors in stderr:

[code]

For our code this is a problem as we expect no error to use the result and I would like to not relax this. Seems there is some problem with formatting in the logger - would be great if this could be fixed.

context:

https://github.com/efdevcon/pretix-attestation-placeholder-plu

[2021-08-19 05:09] colourful-land commented on #172
@ligi please do not use the magic link generated since the error seem to indicate whatever in the magic link will not be correct. I'll see if I can address this.

[2021-08-19 06:47] jot2re commented on #172
@ligi could you share the key (I assume it is just for testing) with me? As far as I can see the issue might be related to the format in which the key is stored. It might be related when using a secp256k1 key it might need to be stored in a very specific way to make the underlying libraries happy.

[2021-08-19 06:50] ligi commented on #172
sure:
[code]

[2021-08-19 08:26] jot2re commented on #172
I have fixed it in PR #173
The issue turned out NOT to be with the key, but instead with the way the shadow jar was constructed using log4j data.
See https://stackoverflow.com/questions/48033792/log4j2-error-statuslogger-unrecognized-conversion-specifier
The fix furthermore include explicitly validating the Ticket constructed to be sure that if the magic link gets printed, it will be valid

[2021-08-20 05:38] colourful-land commented on #165
Look like android/ios αW takes most space. Might condense them by simplifying some histories?
[code]

[2021-08-20 05:38] #165 closed

[2021-08-20 06:48] #172 closed

[2021-08-24 04:56] colourful-land opened #175 "generalise attestation issuer code and export it as a library"
1. Make sure fork from the latest main at a later point than https://github.com/TokenScript/attestation/commit/6a6781ce4bccdb86cea877776c65159538e7d5a3
2. work on `./src/main/java/org/tokenscript/attestation/IdentifierAttestation.java` to replace the  attestation type `twitter` into a labeledURI or InetPersona type.

The InetPersona type is any x.509 attestation with labeledURI as the subject, whi

[2021-08-25 06:50] ligi opened #176 "URL encode email in the generated url"
the email that was added to the URL in 0.3.3 needs to be URL encoded

[2021-08-25 09:33] jot2re commented on #175
I am a bit unsure of what exactly needs to be done. The constructor for `IdentifierAttestation.java` where the user's ID is public and stored as a labeledURI, already supports the format of an arbitrary URL and and arbitrary identifier.
In regard to the attestation type it is only used in the setting of attestations hiding the user's identifier. As far as I understand this is not what you want her

[2021-08-25 09:40] jot2re commented on #175
I am a bit unsure of what exactly needs to be done. The constructor for IdentifierAttestation.java where the user's ID is public and stored as a labeledURI, already supports the format of an arbitrary URL and and arbitrary identifier.
In regard to the attestation type it is only used in the setting of attestations hiding the user's identifier. As far as I understand this is not what you want here,

[2021-08-25 09:52] jot2re commented on #175
In any case I have changed the implementation for hidden identifier to use `InetPersona` instead of twitter.

[2021-08-25 11:58] colourful-land commented on #175
that's the right thing to do but you haven't submitted right? not seeing PR

[2021-08-25 11:59] jot2re commented on #175
No, not yet. I am looking into setting up the right Maven files to deploy to Maven central as well.

[2021-08-25 12:00] colourful-land commented on #175
Remembet to put a comment where InetPersona is and show example of twitter in comment instead of in source code.

[2021-08-31 17:08] jot2re opened #183 "Add unpredictable number to JS ZK proofs"
The JS part of issue #167.

[2021-08-31 17:08] jot2re opened #184 "Add unpredictable number to Solidity code for ZK proofs"
The Solidity part of issue #167

[2021-09-01 08:47] jot2re commented on #167
Closed with #169

[2021-09-01 08:47] #167 closed

[2021-10-07 21:47] oleggrib opened #186 "make variables like "notValidBefore" smaller 10 sec than current time"
Currently I often have issues when attestation still not valid. problem appear because server time and my local time bit not syncronized. For me its 2-3 seconds.
But I think better make value like "notValidBefore"  less for 10 seconds. As option - we can update validation logic to allow some gap.
@jot2re , what do you think?

[2021-10-08 09:15] oleggrib commented on #186
yes, sure, we can put exact time to the notValidBefore, but allow some slack to stay attestation valid some time before.

[2021-10-10 06:28] colourful-land opened #188 "update README to reflect the maven path"
so someone can edit their project to use org.tokenscript:attestation without google searching for that string. do this only if other projects tend to include such info in their README.

[2021-10-11 09:28] jot2re commented on #188
After checking a few projects, it seems like there is no standard approach to what is included in the readme. But I think it would be very good to mention this reference there.

[2021-10-15 12:04] jot2re opened #192 "Security vulnerability of ticket"
In issue #74 a design choice was made to not sign the commitment as part of the signed ticket. This means that there is *nothing* linking the ticket to a user's email.
I cannot find info on why it was decided to introduce this vulnerability. However, I think it was to get a proof-of-concept implementation as quickly as possible and then I forgot to make a new issue for fixing this later.

Thus thi

[2021-10-15 12:13] jot2re opened #193 "Update magicLink to include proof of email"
We wish to use a flow where attestation.id issues an attestation with a public email, based on a Ticket.
This is currently done through a magicLink, but currently the link does not contain a proof that a URL parameter email is the same as contained in the commitment.
This needs to be added to ensure that the supplied email is actually the one in the commitment.
Furthermore, it is currently instead

[2021-10-19 08:05] jot2re opened #196 "Update Solidity code according to bug fixes"
A few bug-fixes have been implemented on the DevCon Ticket and magicLinks.
The Solidity code needs to be updated accordingly.
See issue #192 and its PR #194 for details.
Furthermore, issue #193 and PR #195 might also be relevant.

Concretely the issue can be seen since `org.devcon.ticket.UseTicketTest.testSmartContractDecode` fails, due to the ASN1 encoding format having changed on the Ticket obje

[2021-10-19 08:45] jot2re opened #197 "Allow multiple key for ticket decoding"
Currently the `TicketDecoder` class only allows a single public key to be given as parameter.
However, this key will vary depending on the ticket issuer, which can be one of many.
We should update the code to support multiple public keys depending on the DevCon ID.

[2021-10-19 08:46] #192 closed, assigned to jot2re

[2021-10-19 09:28] jot2re opened #198 "Public key in ticket can be dangerous"
Currently a Ticket can have the public key, used to sign it, be included.
This is in itself not a problem, however, the TicketDecoder allows verification of the ticket based on the public key included. Thus if the TicketDecoder is not initialised with a reference public key, then any Ticket can be verified.
Furthermore, since each DevCon will have a different public key, I don't think we ever want

[2021-10-19 09:29] jot2re commented on #198
@colourful-land
if you agree I will remove the functionality of accepting a ticket based on a public key supplied

[2021-10-19 09:48] oleggrib commented on #197
I think that good way to fix it is to use TokenScript XML file with token configuration, including issuer public key.
As option - we can save token config in the SmartContract
@colourful-land , does it make sense?

[2021-10-19 11:00] jot2re opened #200 "SignedNFTAttestation does not verify key used to sign it"
Currently `SignedNFTAttestation` does not validate that the key that is used to sign with, is also the key attested to in the `SignedIdentifierAttestation`.
It seems we definitely want to ensure that the key used to sign the NFTAttestation is the one used attested to.
Even though this part of the code is probably not in use this issue might also be in the JS code.

[2021-10-26 10:04] jot2re opened #201 "MetaMask signing of NFTAttestation looks weird"
This is the back-end sister issue from the [alchemyNFT](https://github.com/AlphaWallet/AlchemyNFT/issues/143) repo.

[2021-10-29 12:00] #197 closed, assigned to jot2re

[2021-10-29 12:40] #193 closed, assigned to jot2re

[2021-11-05 10:18] oleggrib opened #203 "Improve create attestation + nftAttestation flow"
I suggest to upgrade NFT attestation flow to improve user experience and ask to sign single message. We can use that update for AutographNFT and other flows, where user create attestaion, based on simple message + web2.0 auth (looks like Ta! flow have same senseless double signature)

Lets see example of AutographNFT
Currently:
1. User signs simple text message and send signature+web2 auth data to

[2021-11-09 10:43] AW-STJ opened #204 "Create policy so that future email attestations are secure"

[2021-11-09 10:59] AW-STJ opened #205 "Design for TokenScript for attestation tokens"

[2021-11-09 15:20] jot2re commented on #203
Thinking a bit more about the details of this I believe it is also needed for the user to sign they twitter ID along with a hash of the NFTs and the time stamp. Otherwise a leakage of the signature could be used in a mix-and-match attack (combining it with another twitter handle) in the short time the signature will be valid.
Another minor detail is that the there should also be a message linking

[2021-11-10 08:51] oleggrib commented on #205
List of the properties to describe in TokenScript:
- TokenName
- TokenDescription
- TokenWebsiteURL
- Token schema (property->type)
- attestationOrigin
- AttestorPublicKey
- tokenOrigin
- magicLinkParamsSchema (token, secret, pok ,id, type)
- localStorageDBName
- localStorageTokenItemName
- localStorageEthKeyItemName
- tokenUniqueIdParam
- IssuerPublicKey
- WhiteListDomainNames

@nicktaras , do yo

[2021-11-13 13:53] oleggrib commented on #203
@jot2re, It makes sense.
unpredictable number contains timestamp and webdomain, so we limit usage to the specific website and add expiration.
so object have to contain
- user identifier
- unpredictable number
- NFTs

I think would be good to add domain name to the message to sign to avoid sign some data from hidden iframe (Metamask dispalys domail, but I am not sure about all other wallets)

so us

[2021-11-15 09:10] oleggrib commented on #203
I have to add another comment:
currently signedNFTAttestation signed by user, but in the new flow it will be signed by attestation.id, so it will need small update to the VaidationSmartContract.

[2021-11-15 09:22] jot2re opened #206 "Update Solidity according to new NFTattestation"
Update the Solidity code according to the refactoring done when handling issue #203 and #201

[2021-11-15 11:24] oleggrib commented on #206
@jot2re  in case if we implement #203 then SmartContract need to change single sinnature verification update. so whole object will be signed with attestor address.

And another suggestion - with new flow we can make simplier object with required fields only to save gas

so we need:
- timestamp
- nftsList
- identifier
- whole_Object_Signature_By_Attesdtation.id_Key

its enough for our task.

univer

[2021-11-16 07:56] oleggrib commented on #203
@jot2re , @colourful-land , can we make final decision on then flow and implement it?

it will improve UX, because users try to use wallets carefully and every signature can look challenging for wallet with some funds.

cc @AW-STJ

[2021-11-16 08:57] jot2re commented on #203
I believe that in a situation as this it makes sense that all the data that is humanly readable is presented in a readable format to the user. This ensures that they have a better understanding of what they sign and don't have to trust the hex data. This is basically what we worked on in issue #201.
In relation to the changes suggested by @oleggrib I think it makes sense that what is signed in rea

[2021-11-16 08:59] jot2re commented on #203
I am a bit unsure if this is actually what you mean @oleggrib since then both the attestation request and the usage of it is still signed, right? Or maybe I am misunderstanding.
Is my understanding as I wrote it above correct?

[2021-11-16 13:22] oleggrib commented on #203
@jot2re , I am trying to find best way to allow user sign single message. Current problem - recursive signature.
userSignature1->identifierAttestation->nftAttestation->secondUserSignature

if we will change object to avoid recursive signatures then we can use payloadSignature to verify users address.

I suggest split signedIdentifierAttestation to the 2 objects:
1. PayloadObject(timestamp, domain,

[2021-11-16 17:38] jot2re commented on #203
I don't think it is necessary to have two signatures. Consider the following flow (in line with what @oleggrib suggest):
1. User requests UN from attestation.id and an OTP to their email.
2. User constructs and signs PayloadObject(UN (including expiration and domain in plain), hash( hidden identifier, NFTs, OTP), context information.
3. The user then sends  PayloadObject along with email, ZKP of h

[2021-11-16 20:25] oleggrib commented on #203
@jot2re , in case if we want to use IdentifierAttestation multiple times (per 1 hour or per 1 day ...) then we have to skip OTP from PayloadObject, because on next usage we will not have saved OTP and it can be not very good user experience if user have to enter OTP on each request.

And in case of twitter attestation we dont have OTP, but auth token. So better send OTP/twitterAuth/etc... in raw f

[2021-11-16 23:03] oleggrib opened #207 "Create LisconNFT minter based on TokenAttestation object"
Contract-related tasks:
0a. Our hosting server fire LisconNFT smartContract listener.
0b. We create LisconNFT smartContract image and save to the hosting ( @AW-STJ , can you ask someone to create image and contractMeta content? )
0c. We create LisconNFT smartContract metadata JSON and save to the hosting (@foxgem , can you provide URL what is OK for you?)

How it will work:
1. User visit LisconTic

[2021-11-16 23:33] oleggrib commented on #207
Currently in Attestation lib for Attested Object we use EqualityProof. It use curvePoints substraction and other gas-expencive operations to validate proof.
Its ok for regualer server/browser, but too expencive for SmartContract

https://github.com/witnet/elliptic-curve-solidity
this is example lib for curvePoints manipulations in solidity . every operation costs lot of gas.
we can try to implemen

[2021-11-17 01:03] foxgem commented on #207
let's follow the same rules used in autographnft, here is [new rule proposal](https://github.com/AlphaWallet/AlchemyNFT/issues/651#issuecomment-963758634) which needs the decision from @colourful-land

yes, we can and this will be one of development tasks.

[2021-11-17 19:37] oleggrib commented on #207
@jot2re , I had a chat with @JamesSmartCell , he found a way to validat ZK proof and use 77k of gas , so we can wait for final verification object and estimate whole object validation. Then we can decide what to do.

[2021-11-17 21:54] JamesSmartCell commented on #207
This is for the verifyEqualityProof, it doesn’t include parsing the full SignedIdentifierAttestation and parsing commitments1, 2 and POK out of the TicketAttestation and checking the signatures. My gut feeling is around 120K for a full validation, which is still better than Zokrates' ~300K for equivalent (they may have improved since last year when I last checked).

I am coding that in today, and

[2021-11-18 00:11] JamesSmartCell commented on #207
@jot2re @oleggrib Should I also be checking the equalityProof (com1, com2, pok), or just the EC-Signatures? Or have two functions, one that checks the equalityProof and one that just pulls out the recovered signatures?

[2021-11-18 05:51] JamesSmartCell commented on #207
Initially, I'll commit the version that extracts the three key addresses. The function to verifyEquality is there and working, but not hooked up to anything. What kind of test would show this working?

[2021-11-18 08:56] jot2re commented on #207
@JamesSmartCell the reference flow for testing a valid attested ticket request is [here](https://github.com/TokenScript/attestation/blob/82cbe76d82d1df4a7c39a4873864a79264255d48/src/test/java/org/tokenscript/auth/EIP712AuthenticationTest.java#L78) basically this validates the underlying AttestedObject (Ticket and Identifier Attestation) and that the rest of the EIP712 is as expected. So the meat y

[2021-11-18 08:57] jot2re commented on #207
If we go with the flow we have now it should both check the signatures and the ZKP. If we change the flow as suggested above (and trust attestation.id to check the ZKP) then we can avoid validating it in the smart contract.

[2021-11-18 23:31] JamesSmartCell commented on #207
Got it, I'll add tow functions; one that only checks the ec-sigs, and a second that checks ZKP, and a third that checks both. That way we can pick and choose which to use depending on gas cost.

I already have the gas cost for the ZKP, about 77K, I'll have the ec cost later today.

[2021-11-19 08:18] JamesSmartCell commented on #207
@oleggrib @jot2re Gas cost for full verification - that is, checking issuer & attestor signatures, extracting subject address and finally verifying the ZKP is 128k. So, not too bad, and any subset of these checks will be better.

I'll check in the contract and hook up the test.

Do we want test subsets? That is, only ec-recover and extract subject address, or only ZKP?

[2021-11-19 08:45] JamesSmartCell commented on #207
The first working contract commit is in the [192_vulnerability branch](https://github.com/TokenScript/attestation/tree/192-vulnability)

Can you let me know about the test subsets?

I'm a bit confused about these; what would be the flow if we're using the ZKP's?

I would have thought that you would only need one type of validation or the other? Wouldn't the ZKP only work if the Proof was generated

[2021-11-19 12:10] JamesSmartCell commented on #207
The contract now returns the TicketID along with the three addresses:

[code]

[2021-11-19 14:07] jot2re commented on #207
Sounds good, just be aware that if we go with another flow the data objects will be different. But in any case it is good to have the code framework for it already programmed ;)

[2021-11-19 14:19] jot2re commented on #207
@JamesSmartCell would it be possible to work on a new branch out of the master? 192 was merged over a month ago and the master branches has had several other merges.

I am unsure of what you mean about only needing to validate the ZKP? The signatures on the ticket and attestation must also be validated to ensure that they have been issued by the correct authority. The ZKP only shows that the commi

[2021-11-19 22:05] JamesSmartCell commented on #207
OK

Ah got it, so we can ensure it's not a portmanteau of different ticket and identifierattestation. Ok that makes sense.

With the explanation above I realise it has to be all done together - thanks for the clarification.

[2021-11-22 08:53] jot2re opened #209 "Make NFTAttestation Request EIP712"
[Per request](https://github.com/AlphaWallet/AlchemyNFT/issues/143#issuecomment-974513130) from @JamesSmartCell  and for general convenience the NFTAttestation request should be done using EIP712.

[2021-11-22 08:53] jot2re commented on #209
@oleggrib I will do this in Java, but I think it will also involve a bit of JS update afterwards unfortunately. I will ping you when needed.

[2021-11-22 08:54] hboon commented on #209
@jot2re wrong James :)

[2021-11-22 22:47] oleggrib commented on #207
Hi, @JamesSmartCell , we have minor incompatibility between Liscon ticket and new Ticket format.
Liscon ticket includes commitment as unsigned part:
[code]

but new Ticket format embeds commitment in the signed sequence
[code]

can you add format version as input to allow both formats(maybe more formats in the future)?

[2021-11-26 15:44] jot2re opened #211 "Add integer timestamps to attestation"
Per request by @JamesSmartCell we need to add an extra field to our IdentifierAttesations containing an easily readable timestamp and expiration time. This reason is that currently it follows x509 and hence is a string. This costs a lot to parse in Solidity.

[2021-12-01 10:54] jot2re opened #213 "Capability attestation"
Per request from @colourful-land we need to construct a new object called Capability Attestation, which can be used by Token Negotiator to preemptively fetch a token for a specific site.
We agreed that such an attestation would include the following fields:

1. Unique ID (big Integer)
2. Domain (URL)
3. notBefore (Unix time)
4. notAfter (Unix time
5. Capabilities (Integer or bit string. In the int

[2021-12-02 08:38] jot2re commented on #213
@colourful-land can you give me a list of the initial capabilities you are thinking about? So far I am just adding, read, write and deletage.

[2021-12-06 08:44] oleggrib opened #215 "Generate Liscon NFT tokens metadata"
Minting Contract code - https://github.com/TokenScript/attestation/blob/b545e1a640e3623206b24bdd76f9ba4f95879296/ethereum/attestation-test/contracts/AttestationMintable.sol
Contract address - 0xd2336c95896f8165D9e46Db4671d83ceA90C87F3
Network - Rinkeby
tokenURI() according to the rules: https://github.com/AlphaWallet/AlchemyNFT/blob/main/docs/PERMALINKS.md (in the contract code its different, but

[2021-12-06 08:47] hboon commented on #215
@oleggrib it's @colourfreak

[2021-12-06 09:09] oleggrib commented on #215
Thank you, but @colourfreak is not in this repo contributors list.

[2021-12-06 09:24] foxgem commented on #215
please confirm my understanding about business is right:

1. the trigger is: `mintUsingAttestation`, if the passed attestation is valid, a ticket is minted.
2. then `transfer` event will be emitted.

what we need to do: listening for the `transfer` event and then generating the metadata / image in the event handler.

what we need:

1. metadata template for each token minted.
2. image template
3. i

[2021-12-06 09:54] oleggrib commented on #215
@foxgem , yes, correct.
trigger is mintUsingAttestation, if attestation valid then token minted and event Transfer( 0, address) created.

@colourful-land , can you decide ?

[2021-12-07 06:44] JamesSmartCell commented on #215
Liscon test contract is updated on Rinkeby here: 0x74D2769a4092A021C7A47b7d3e4E2ACa75C4c7de

This contract has the updated Token URI

[2021-12-07 08:43] AW-STJ commented on #215
Would this design be enough to create the Liscon NFT ticket image generator:
https://app.zeplin.io/project/5fe1c9ddd9d426343ebdf912/screen/61a888cc9cc73c9f543695c4

I will do it.

That is correct. Which repo did we use for Liscon? Ideally we should have this ticket under that repo rather than in attestation repo.

[2021-12-07 12:03] foxgem commented on #215
@AW-STJ

example metadata links:

- remix token metadata: https://alchemynft.io/137/0x222222222291749de47895c0c0a9b17e4fca8268/67.json
- remix v1 contract metadata: https://alchemynft.io/contracts/amx.json

@oleggrib can you help this?

[2021-12-07 12:52] oleggrib commented on #215
https://github.com/TokenScript/LisCon
we use this repo to auto-deploy LisCon files to the hosting

[2021-12-09 09:03] colourfreak commented on #215
No idea what do you want me to do. I need more context, more explanation. What do I have to do with the above data? Image template? What do you mean by this? Example, simple sketch or drawing would be helpful.

[2021-12-09 09:26] oleggrib commented on #215
@colourfreak , we need some creative template of Liscon NFT metadata in the next example format:
`
{
"name":"Proof of presence at Liscon Conference #222839947262873898129289"
"description":"The NFT is unique for each Liscon Conference Ticket, ensures participation in conference at Oct 20-21, 2021, Lisbon ...",
"image":"image_will_be_pregenerated_from_template_by_ticketID",
"attributes":[
    confe

[2021-12-09 09:27] colourfreak commented on #215
Do you mean the same info in the different background? @oleggrib

[2021-12-09 09:28] colourfreak commented on #215
what is the use of it? In which context? What is the size of it?

[2021-12-09 09:33] colourfreak commented on #215
I still don't understand it.

[2021-12-09 09:36] oleggrib commented on #215
size is up to you. It will be Liscon Ticket metadata. It will be visible in OpenSea and other marketplaces. You can see similar data for any NFT in OpenSea,

this is example metadata from autographnft.io
![image](https://user-images.githubusercontent.com/18176173/145371130-9901d3fd-c2f8-414d-b513-07d082069cb1.png)

{"name":"Colors","description":null,"image":"https://rinkeby.alchemynft.io/upload/0

[2021-12-09 09:48] colourfreak commented on #215
Not sure why it's me who is doing this. It does not look like UI work. I can try, but let me learn in which language this is written. XML?

[2021-12-09 09:56] oleggrib commented on #215
basically we need nice-looking creative
1. tokenName
2. tokenDescription
3. maybe some creative attributes list

dont care about format, we just need data. cc @AW-STJ , does @colourfreak have to do it?

[2021-12-09 10:00] colourfreak commented on #215
@AW-STJ It's not my job. I don't have any experience in writing metadata. "Experience": null; It will take time till I will learn it. I could cook Hungarian national soup with no experience and it would be the same journey for me. Learn then build.

[2021-12-09 10:18] colourfreak commented on #215
"Description": "LisCon is a celebration of our culture and values, a coming together of builders, thinkers and creators across the space"
"Package": "Full"
"ID": "244"
"Type": "Physical"

[2021-12-09 10:19] colourfreak commented on #215
Again, I am not a right person to do this task. I don't know much about Liscon, I don't know JSON. Sorry.

[2021-12-09 11:18] AW-STJ commented on #215
Hey @colourfreak - I will take care of the metadata. However, thank you for taking the journey of learning and attempting to get the job done with what you have. Love the spirit.

[2021-12-09 11:24] AW-STJ commented on #215
{
"name":"LisCon 2021 Ticket #222839947262873898129289"
"description":"LisCon is a celebration of our culture and values, a coming together of builders, thinkers and creators across the space. This NFT is the token avatar of original ticket, minted by the ticket holder after the event",
"image":"image_will_be_pregenerated_from_template_by_ticketID",
"attributes":[
    Year: "2021",
    ]}

[2021-12-17 02:58] AW-STJ commented on #215
The feedback for the current version of ticket minting.

1. The user have to connect to Metamask again. Can we skip this step of connected to Wallet twice?

![image](https://user-images.githubusercontent.com/61957841/146481402-9e0f0bab-782d-4fc1-a870-0ca8e147df55.png)

2. There is no loading screen and then success message to show to the user that the minting process is underway. I had to refresh

[2021-12-17 03:11] nicktaras opened #217 "TypeError: Cannot convert a BigInt value to a number"
![Screen Shot 2021-12-17 at 2 10 04 pm](https://user-images.githubusercontent.com/6808817/146482837-5e01b460-176e-4616-a7fc-cf126f1798f9.png)

Attestation JS Library.

[2021-12-17 12:07] nicktaras opened #218 "Create release flow to eliminate need for snapshots"
The task is from TokenScript but dependency on attestation.id

Requirement is a flow to define how and when we can release a package to npm (js code) or maven (java code).

in a summary, it is about how to make release plan and automate it. currently, no such things.

[2021-12-20 00:27] oleggrib commented on #215
@AW-STJ , I have added notifications pop-up and centered attestation.id iframe

[2021-12-20 05:00] nicktaras commented on #217
var E = Math.pow(Number(2n), Number(256n)); - Solution is to convert all the BigInt values to numbers before use.

[2021-12-20 05:13] nicktaras commented on #217
@oleggrib this method given above is a solution to allow for BigInt to be safely cast as a number.

Can you take a look at updating the authenticator to use this when using BigInt?

Thanks

Nick

[2021-12-20 06:40] foxgem opened #219 "update log4j to 2.17.0 for security reason."
new security fix of log4j is out: https://logging.apache.org/log4j/2.x/security.html. we have to update the dependency, please do a hotfix as what we did for 0.3.9. after this update, `attestation.id` will do use the new attestation.jar from maven repo.

[2021-12-20 10:45] oleggrib commented on #217
@nicktaras , looks like its fixed. can you confirm?

[2021-12-20 11:16] jot2re commented on #219
This is closed in release 0.3.10

[2021-12-20 11:16] #219 closed

[2021-12-21 11:53] AW-STJ opened #220 "Liscon Improvements"
- [x] Dialog box: UI Tweaks

![image](https://user-images.githubusercontent.com/61957841/146925002-79715d25-8e08-4c1c-82a5-d5cfa2d8b776.png)

- [x] Dialog box: Updated message for network switch

![image](https://user-images.githubusercontent.com/61957841/146925056-8b1fb523-680c-4230-a733-a60f85c877a4.png)
**Proposed text:**
Confirm network change on Metamask

- [x] Dialog box: Updated message for

[2021-12-21 12:16] AW-STJ opened #221 "Change Ticket_ID to String from integer"
Request from Devcon to change  ``ticket_id``  integer to a string. MIght be related to #115, but really to make it more flexible for future as well as to prevent a inelegant implementation of TicketID decoding for our current Liscon implementation.

[2021-12-21 12:20] #188 closed

[2021-12-21 12:25] jot2re commented on #221
@oleggrib @JamesSmartCell I will update this in Java, but I think I need your help to adjust the Solidity and JS versions accordingly.
Furthermore, it is also important that we still have backwards compatibility and can understand the old tickets where the ID is an integer.

[2021-12-21 12:43] colourful-land opened #222 "build run failed in CI when it works with my PC"
Build run fail:

https://github.com/TokenScript/attestation/actions/runs/1606732380

Works on my PC:

[code]

[2021-12-21 19:04] oleggrib commented on #221
@jot2re , we can set field devconId to variable( CHOISE ), so we can use Integer or String here. Its compatable with ASN1 so no problems here.
For JS we can read Integer/BigInt as string.
in case of solidity validation contract it need more work to update.
cc @colourful-land @JamesSmartCell

[2021-12-21 19:09] oleggrib commented on #220
@AW-STJ
Out of the box Metamask includes only Ethereum mainnet and testnets. In case if we want to use some other networks like Optimism/Poligon/etc.. then we have to add new network to the Metamask and then change current network to the New one. So we need both messages: "Add network", "Switch/change network"

[2021-12-21 23:12] colourful-land commented on #203
@oleggrib :

Why? I feel much was lost in the communication, attestation.id is a shared service to issue identifier attestations, hence the name, that is, it's not attetation.com or attestation.xyz, it is attestation.id so that it is for identifier attestations. why should it sign nft attestations? Why should a user trust a 3rd party service to dictate what happens to their NFT? I will be pretty u

[2021-12-21 23:27] colourful-land commented on #203
@jot2re @oleggrib I'm afraid we forgot why NFT attestation and the signature to obtain identifier attestation was created in the first place.

First, there is a size limit on how much data we can send to a smart contract and we should not waste it, since additional data easily gets denied by eth nodes or cost gas. we learned this the hard way in 2017 when a user buys too many FIFA tickets and the

[2021-12-21 23:27] #203 closed

[2021-12-22 07:42] colourful-land commented on #222
This is from Feng

[2021-12-22 08:01] oleggrib opened #223 "Update flow "Sign Twitter" to avoid reuse in another session but reuse in currect session"
As @colourful-land mention in the https://github.com/TokenScript/attestation/issues/203 , we have to avoid reuse of that flow and ask for single IDAttestations per twitter login session.

My suggestion:
- when user auth with twitter through Auth0 then he receives some token (frontend adds it in the header as x-ac: e2WyLe6rNyXNxTSAIv2XdJIxweeeeSd9ud)
- we can update message to sign to the format li

[2021-12-22 08:23] foxgem commented on #223
the expiration of access token is very short and signing actually is not a high frequency action for the same user. so I agree to cache the public attestation, but:

- signing message not changed.
- caching public attestation and use `${twitter_id}-${screen_name}` as the cache key.

because `public attestation` has not time limit and `${twitter_id}-${screen_name}" can live for a long time, we can

[2021-12-22 08:30] oleggrib commented on #223
@foxgem , do you remeber why IdAttestation has unlimited TTL? what is purpose for that?

[2021-12-22 08:38] foxgem commented on #223
sorry, I don't know. maybe @colourful-land can answer this.

[2021-12-22 09:00] oleggrib commented on #223
I am afraid that it can be some security issue if user has unlimited twitter attestation.
lets imagine that PersonX has TwitterX account and created twitterIdAttestation(TwitterX) for autographNFT. That attestation will be saved in the blockchain.
then PersonX sold his TwitterX account to PersonY
in that case PersonX still can use TwitterX account because of unlimited attestation
@colourful-land ,

[2021-12-22 09:20] jot2re commented on #221
Yes, agree there is no issue when it comes to a complete ASN specification.
Cool, that it should directly with JS.

[2021-12-22 09:36] colourful-land commented on #223
https://community.tokenscript.org/t/what-if-inet-identifer-such-as-twitter-handle-is-sold/492

[2021-12-22 09:49] oleggrib opened #224 "Verification contract have to compare twitterID (numeric ID), not whole string uncluding twitter name"
Twitter User can easy change his name but account stay the same, so we have to make sure that verification contract compares only twitterId part, not twitter name.
@JamesSmartCell , can you confirm that?
cc @colourful-land

[2021-12-22 09:56] jot2re commented on #203
Currently (as least when reading the java code) the AttestationRequest is based on a nonce, consisting of the address of the user, attestation.id and a timestamp. Hence reuse of the original AttestationRequest is not possible since the timestamp is only valid for 20 min (current configuration).

[2021-12-22 09:58] oleggrib commented on #223
@colourful-land , do we have any benefits because of unlimited IDattestation? do you remeber why we don't limit IDattestation with expiration?

[2021-12-22 10:00] jot2re commented on #203
@colourful-land in relation to the other point you make, I totally understand the desire to segregate roles. However, consider the flow mentioned above:

Here attestation.id does not need to learn about the NFTs. It only learns a hash digest (which can easily be hiding by adding some salt). All attestation.id learns is that the user wish to create a single-use attestation to be used for NFTs.
Howe

[2021-12-22 12:15] samuelhbne commented on #222
@colourful-land

According to the issue over the Signal ringing on 18.46 22 Dec 22 with unreasonable questioning, here's the response.

1. Given the situation I'm not the project owner, there' no way I could get new issue created notification at the 1st place unless being mentioned. It is the issue creator's responsibility to mention anyone who need to be involved.

2. It is an inappropriate expec

[2021-12-22 12:21] #222 closed

[2021-12-22 16:39] jot2re commented on #221
I have made the java change in PR #225

[2021-12-22 16:42] jot2re commented on #221
@oleggrib please ensure that things also work in the JS
@JamesSmartCell the smart contract code will also need to be updated to ensure understanding of tickets where the ticket ID is a string. It might be relevant to do this as a separate task though

[2021-12-22 23:12] oleggrib opened #226 "USE NftAttesatation hash signature as CSR"
Based on the https://github.com/TokenScript/attestation/issues/203 , last @jot2re comments say the same.

For NFT attestation currently User signs
1. simple text string as CSR  (Certificate Signing Request)
2. whole object IdAttestation+NFTpayload and add signature to the object

My suggestion is to separate IdAttestation and NFTpayload
So
1. user creates NFTpayload object. HASH it , adds it to th

[2021-12-23 01:44] AW-STJ commented on #220
Out of the box Metamask includes only Ethereum mainnet and testnets. In case if we want to use some other networks like Optimism/Poligon/etc.. then we have to add new network to the Metamask and then change current network to the New one. So we need both messages: "Add network", "Switch/change network"

Then let the text be "Confirm the network on Metamask". Need not specify whether its addition o

[2021-12-23 02:34] foxgem commented on #220
we can not control this because the iframe is called by the parent site. I guess the iframe is shown in a modal, if so, the parent site can control this.

[2021-12-23 03:37] AW-STJ commented on #220
Thanks @foxgem for the response. @oleggrib - let us do it if that is possible and not hard to implement. If its harder and takes more time, then we can ignore this requirement.

[2021-12-23 23:22] oleggrib commented on #220
@AW-STJ ,  styles and logos updated

let me check how to use ledger for deploy contracts.

[2021-12-30 11:12] oleggrib commented on #220
@AW-STJ , I have ready code to use Ledger for different networks, so we can use tokens safely and deploy to the some mainnets

[2021-12-31 16:35] oleggrib commented on #221
I just added commit for JS code. I think we can merge and @JamesSmartCell can update validation contract when we need to use it.

[2022-01-11 10:44] jot2re opened #228 "Handle Sonarqube issues"
Running a scan on the java/typescript found a couple of potential minor issues, and one security issues in relation to cross-site origin which should be handled.

The results are available here:
https://sonar.alexandra.dk/dashboard?id=org.tokenscript%3Aattestation-js
Credentials will be sent over Signal/

[2022-01-12 13:28] AW-STJ opened #229 "Avoid need to connect wallet additionally from attestation.id modal"
For Liscon NFT generation example, it was discovered that user would have to connect wallet when the attestation.id modal is displayed.

It is best to avoid this, as user would have already connected the wallet to the site on which the attestation.id modal is displayed. Is there any way to resolve this multiple connection prompts? Keen to hear your thoughts - @oleggrib @nicktaras @foxgem

[2022-01-12 16:46] oleggrib commented on #229
We had an idea to send object from attestation.id to the Requestor Site (RS) and sign it on the RS. But we decided to sign attestRequest message on the attestation.id (AI) because user can be confused if RS ask user for attestation.

I suggest to send all messages for sign to the Token Origin Website (TOW), its devcon-tickets in our test case. It will have more authority than RS.
TOW domain separa

[2022-01-13 09:55] jot2re commented on #229
I think there might be an issue of TOW hijacking the user's attestation. Since TOW learns OTP that has been sent to the user's email, they could construct and sign a RequestAttest to their own Ethereum key, thus being able to claim ownership of the user's email to any party relying on AI.
But I might be misunderstanding part of the flow?

[2022-01-13 10:58] oleggrib commented on #229
TOW is a page with access to ticket+ticketSecret + attestation + attestationSecret, because TOW constructs proofOfSecrets. So hijacking of TOW can be a problem.
Anyway we require some page to receive all the data+secrets togather and construct proof and that page can be hacked.

[2022-01-13 12:48] jot2re commented on #229
Ah, I see. But this issue of TOW learning the OTP to get an attestation issued is different.
TOW knowing token+tokenSecret + attestation + attestationSecret _only_ allows it to use the token, which it itself issued and hence, per this [discussion](https://github.com/TokenScript/token-negotiator/issues/121), is not really a big issue.
TOW knowing token+tokenSecret + attestation + attestationSecret

[2022-01-13 13:42] oleggrib commented on #229
I think its related to implementation. if AI create session with session_token and stay session alive and limit invalid OTP number per session then its should not be a security problem if TOW send USER_EMAIL to AI and after thet send OTP to AI (in same secured session).

We just have to limit brutforces.

If its:
- in the user browser
- user entered email (or email received from other APP)
- user

[2022-01-13 14:06] foxgem commented on #229
Keep the whole server stateless is by design, so there is no session.

[2022-01-13 14:24] jot2re commented on #229
Ah, I see what you mean.
If we ensure that the user signs the RequestAttestation and sends it to AI _before_ the OTP is issued, then we avoid the issue.

[2022-01-13 14:29] oleggrib commented on #229
I mean custom session between browser tabs, sorry that I didnt mention that before.

[2022-01-13 15:56] jot2re commented on #229
I realised I was a bit too quick with my reply here: if _both_ the OTP _and_ the AttestationRequest goes through TOW then they can execute a man-in-the-middle attack and basically get a certificate issued towards the user's email but based on their Ethereum key.
It is strictly needed that _either_ the AttestationRequest is supplied (first!) directly to attestation.id or that the OTP is supplied to

[2022-01-13 23:14] oleggrib commented on #229
yes, correct. man-in-the-middle attack possible in that case.
in case when we create/sign on AI website then we must make secure single website (AI), but in case of TOW anyone can make own token and each of them have a chance to be hacked/script_injected and hacked one can create attestation with user email and wrongWalletAddress.

that problem can happen even if we create attestRequest on the TOW

[2022-01-14 13:07] jot2re commented on #229
I agree, except that I believe it is possible to avoid the issue if AttestationRequest is relayed through TOW _and_ OTP is entered directly at attestation.id. The reason is that the OTP can be constructed such that it is linked to AttestationRequest and hence resupplying AttestationRequest to attestation.id, along with the OTP, allow attestation.id to validate that OTP is correct _and_ Attestation

[2022-02-14 21:16] oleggrib opened #230 "liscon.attestation.id doesnt work with walletconnect under android"
On android it doesnt work with WalletConnect
![image](https://user-images.githubusercontent.com/18176173/153947406-c29d7000-a159-42a0-81ac-4f40574c571a.png)
Step to reploduce:
- clear liscon.attestation.id domain localstorage
- open liscon.attestation.id in chrome
- click Browser Wallet
- click WalletConnect
it throws error and nothing happens.

[2022-02-14 21:20] oleggrib opened #231 "liscon.attestation.id displays wrong input field type for android"
I have to enter OTP 580316, but It displays only 1,2,3,7,9 and no way to scroll or enter number with keyboard
![image](https://user-images.githubusercontent.com/18176173/153947887-de9f5e3b-2277-4931-859b-553cbf909b0c.png)

[2022-02-15 02:31] foxgem commented on #230
wc provider used is deprecated, it can be fixed by update the version to the latest.

[2022-02-15 02:31] #230 closed

[2022-02-15 03:13] foxgem commented on #231
turned off `autocomplete`, now it seems ok:
![image](https://user-images.githubusercontent.com/304052/153985741-c839c8db-54a1-43ad-b800-0b81d6ad5fea.png)

[2022-02-15 03:13] #231 closed

[2022-02-15 03:20] abcfy2 commented on #231
https://liscon.attestation.id/ redeployed. You may try again later.

[2022-02-16 10:14] AW-STJ commented on #213
@colourfreak - can you please provide some feedback to Tore on this issue?

[2022-02-18 10:33] jot2re opened #233 "Missing check of point validity"
I realised that we are missing a check that decoded points on the elliptic curves are valid.
This is needed in connection with commitment and ZK validation. If this is not checked then there is a chance that malicious parties can send bad points and learn secret information if an honest party computes on these.
However, I don't think there are currently situations where a party receives a EC point

[2022-03-04 14:49] jot2re commented on #229
With the discussion and solution [here](https://github.com/AlphaWallet/attestation.id/issues/119) it is not possible to link the OTP to the AttestationRequest as I discussed above.
In this situation I cannot see other solutions than to require AttestationRequest and OTP validation happening on the attestation.id domain.

[2022-03-07 14:28] jot2re commented on #233
This is actually handled in `Point.ts.validate()` and thus the issue is not relevant.

[2022-03-07 14:28] #233 closed

[2022-03-11 06:27] micwallace commented on #229
@oleggrib @jot2re This is exactly the problem I am trying to solve for token-negotiator. Performing all signing in either AI or TOW is the way to go. Has there been any decision on the best place to do it? It will simplify the process if we do it in AI, but is that making TN overly dependent on AI?

[2022-03-11 07:31] micwallace commented on #218
@nicktaras I agree that we should package the libs folder to make core attestation logic available to both TN and attestation.id.

[2022-03-11 09:02] micwallace commented on #183
@jot2re I'm keen to catch up about implemting this and packaging the JS library for use in TN and attestation.id. Message me on discord when you get a chance next week.

[2022-03-11 09:28] jot2re commented on #229
I am not sure there is a final decision. My colleague and I just finished a full security review of the process and code (@AW-STJ can share it with you) where we discuss this and connected issues. But I think the best is to have a meeting discussion this and the other issues in the security report to figure out exactly which way we wanna go.

However, I think the overall best solution is to do the

[2022-03-13 20:14] oleggrib commented on #229
We can have problems when we try to use single wallet for multiple domains.
Especially when we use hardware wallets.

in case of Ledger Live windows app it allow to connect single domain at the moment. So in case if we use some ON-chain tokens then Ledger have to connect to the attestation.id (to sign attestaRequest) and to the HotelBogota (to sign transaction).
Ledger App dont allow to disconnect

[2022-03-13 22:29] micwallace commented on #229
I really think WalletConnect should be working for the entire process, as browser wallet may not be delivered for a while. On Friday I re-implemented message handling that was defined in authenticator.js into TN. So error messages and requests to show iframe modal can be returned to the parent frame/s. I think if possible we should definitely avoid using multiple tabs for wallet communication.

Th

[2022-03-14 10:02] micwallace commented on #229
Yep @oleggrib I can see the benefit of doing all signing from AI, keep it the trusted authority for all wallet actions.

There is plenty to discuss from @jot2re's report, so I second the call to have a meeting to go through everything and come up with an action plan.

[2022-03-20 13:30] oleggrib opened #236 "Ledger doesnt support eip-155. Related to signature "V" value in attestation.jar"
Hi, @jot2re , let me show request example:
Example data: (POST https://backend-liscon.attestation.id/api/attestation)

*Ledger wallet address*: **0x3FF1aEd5e9fB5a75AA34f33169438c13B3c19b76**

*POST payload with request to create attestation*:
{"validity":"3600","attestor":"AlphaWallet","publicRequest":"{\"signatureInHex\":\"0x9fe797bff20a1b5904f8589c7af06363b56bb97c4d3aa0f802a8b669645f3efe69ea0fcf

[2022-03-23 14:23] #209 closed

[2022-03-23 14:54] jot2re commented on #201
Appropriate changes still need be made to the JS code when it becomes needed @oleggrib.
However, the Java code is ready. See https://github.com/TokenScript/attestation/pull/210 for detail.

[2022-03-23 14:55] jot2re commented on #211
@JamesSmartCell @oleggrib
The Java code is updated and merged with this feature. The JS and Solidity might need to be updated when needed. However, so far the Java code is fully backwards compatible with what is currently in place.

[2022-03-23 15:59] jot2re commented on #221
I have merged in the Java code, see PR #225, if we want to run with this change then the smart contract probably needs to be updated as well, but currently everything should be backward compatible @JamesSmartCell

[2022-03-31 05:34] nicktaras opened #240 "Attestation.id is failing when trying to fully authenticate mock token - github examples"
Steps:

get token from: https://tokenscript.github.io/token-negotiator-gh-pages/ticket-issuer-url-website/build/index.html

try to complete flow: https://tokenscript.github.io/token-negotiator-gh-pages/hotel-bogota-active-negotiation-website/build/index.html

bundle.js:124          POST https://backend-stage.attestation.id/api/attestation/magic-link net::ERR_ABORTED 400
createAndReturnAttestationF

[2022-03-31 07:32] foxgem commented on #240
I tried as the step described here. I got this error:

<img width="943" alt="image" src="https://user-images.githubusercontent.com/304052/161001686-02f1f3ab-4ff2-4db7-9bae-8e4854938da6.png">

it seems the magic link attestation is created but validation failed. I have no idea about magiclink and this error. @oleggrib can you help this?

[2022-04-01 04:19] nicktaras commented on #240
Thanks @foxgem.

@oleggrib - I hope your travel is going well. Would you have some time to take a look at this issue?

We are quite likely to be showing a live demo to a potential partner next Monday.

Could the mock attestations be outdated?

Thanks guys.

[2022-04-01 05:03] micwallace commented on #240
Hey Nick,

I suspect we will need to update authenticator.js on our side to support the new schema. The packaged version already has the ability to use the new schema. I'll test this out a little later.

On 1 April 2022 3:19:53 pm AEDT, Nick ***@***.***> wrote:

***@***.*** - I hope your travel is going well. Would you have some time to take a look at this issue?

--
Sent from my Android device wi

[2022-04-01 05:12] nicktaras commented on #240
Thanks so much @oleggrib let me know if I can help with the testing / code changes.

[2022-04-01 13:35] jot2re commented on #240
The issue is an inconsistency between versions. The request in question has the legacy description "Linking Ethereum address to phone or email" whereas it is supposed to now be "Creating email attestation".
The latest version of attestation.jar should be able to verify both cases.

However, what is very weird is that when I run this locally with the latest version of attestation.jar, it still fail

[2022-04-02 10:44] nicktaras commented on #240
<img width="802" alt="Screen Shot 2022-04-02 at 9 43 02 pm" src="https://user-images.githubusercontent.com/6808817/161379601-6ad1cf80-3825-4733-80c5-6ec9ae428271.png">

Just sharing a new error shown inside the console.

[2022-04-02 10:51] nicktaras commented on #240
Thanks @jot2re and @micwallace.

Do we have the new schema on github / notion / dev notes?

[2022-04-02 11:55] nicktaras commented on #240
In general for these types of changes, let's put some time in next meeting to make some actions to stabilise the workflow of changes, so if attestation.id changes the example will continue to function.

[2022-04-03 23:50] nicktaras commented on #240
Thanks so much @oleggrib for your help towards the fix for the changes to attestation.id

"Can you try to build and use authenticator from branch "js_pr212" ? should fix the issue with attestation. Tell me if it help." comment from Oleh copied from conversation.

We'll try this and see if it resolves the issue.

[2022-04-04 07:43] jot2re commented on #240
Yes, totally agree. I am sorry, it has been my fault of not getting things sufficiently integration tested before merging new changes.

[2022-04-04 07:44] jot2re commented on #240
Please be aware it seems there is still a bug with the JS/TS code in this branch, on which I am waiting on some feedback from @oleggrib. Which is why I have not merged it yet.

[2022-04-05 12:10] oleggrib opened #241 "Update attestation validation smartContract"
Hi, @JamesSmartCell

Can you look at https://github.com/TokenScript/attestation/pull/212
in this PR Tore have added optional timestamp as unixtime in seconds, so attestation schema is changed.

Can you update attestation validation smartContract to validate timestamp and make it compatible with last attestation schema?

https://github.com/TokenScript/attestation/pull/237 (JS updates)

[2022-04-06 00:10] nicktaras commented on #240
That's ok Tore. Thanks so much for your help guys.

[2022-04-06 01:07] oleggrib opened #242 "Help needed to generate MagicLinks"
my steps:
- gradle build
- gradle shadowJar
- cd build/libs/
- openssl ecparam -name secp256k1 -genkey -noout -out key.pem

then: (console input/output)

[code]

@jot2re , can you help me to solve issue and generate MagicLink?

[2022-04-06 07:45] jot2re commented on #242
I think the issue is that you are using Java 8, the code needs at least Java 11 and also seems to have been compiled with a java compiler of at least version 11.
You need to change the java runtime version. If you use Windows then there is a guide [here](https://superuser.com/questions/262757/changing-current-version-of-java-within-windows)

[2022-04-06 11:29] oleggrib commented on #242
thank you, it works great. I just have to update negotiator to support new ticket format.

[2022-04-06 14:09] jot2re commented on #240
I have made a new release of attestation.jar and authenticator.js, 0.3.17 and I have asked @foxgem to test and release it.
I did a manual test (of the issuance of an attestation based on email) which worked. Although I have not made a manual test of the magicLink flow.
@nicktaras if you will help me to make changes to the examples in the right places, to allow for a test of the flow using a locall

[2022-04-07 03:09] JamesSmartCell commented on #221
Is this still pending?

[2022-04-08 07:51] micwallace commented on #240
Hey all, the latest build of token negotiator now includes the attestation NPM package and is validating correctly with attestation.id. I have had to include old versions of SignedDevconTicket for compatibility, so that need to be looked at to get the updated versions working. Please see #239

[2022-04-08 14:51] jot2re commented on #236
I am closing this with the merging of PR #238

[2022-04-08 14:51] #236 closed

[2022-04-11 08:27] jot2re opened #244 "Better CI/CD or Full CI/CD"
We need to construct a more complete CI/CD flow during PRs. In particular when it comes to integration, both with authenticator.js and attestation.id.

[2022-04-14 00:01] samwarwick opened #245 "Small typo in README diagram code-layout.svg"
In the top-right purple box of [code-layout.svg](docs/code-layout.svg) **implemtation** should be **implementation**. i.e:

"A production JS/typescript module facing web developers; implementation of token negotiation."

[2022-04-14 00:45] oleggrib commented on #205
I can see config data in the Readme.md in the https://github.com/TokenScript/token-negotiator

those data must be syncronized with backend validator, other services who use this token etc.

Also webster have to know some tech info about this Token and can make mistake somewhere.

In case if we finish this task then we can pass just tokenName to the Negotiator, other data can be fetched from remote

[2022-04-14 11:09] micwallace commented on #205
Yep 100% agree Oleh. As soon as we get this into TokenScript we can take advantage of the TokenScript signing security.

[2022-04-15 14:23] jot2re opened #246 "Constant time crypto operations"
Currently the crypto implementation in both backend and frontend is not constant time, since it didn't really seem like a feasible attack model. However, for completeness and because ECDSA is so sensitive to timing attacks it is better to make it constant time.

One could imagine an attacks of someone trying to continuously querying attestation.id for certificates on emails and time the response t

[2022-05-01 15:27] jot2re opened #249 "Remove legacy use of GeneralizedTime"
The "annoyingly" encoded `notBefore` and `notAfter` times in attestations using GeneralizedTime is no longer needed, since we now use `notBeforeInt` and `notAfterInt` to store times in a away that is easy for  smart contracts to use.
Furthermore since we now only issue attestations valid for an hour, there is no need to keep backward compatibility.
(Although we once issued unlimited attestations,

[2022-05-01 15:30] jot2re commented on #245
This is handled implicitly in PR #243 so I am closing this issue since it will be handled with this imminent merge

[2022-05-01 15:30] #245 closed

[2022-05-03 06:18] micwallace opened #250 "AttestedObject::fromBytes requires issuer keyArray to work with Ticket::fromBytes"
src/main/javascript/crypto/src/libs/AttestedObject.ts:135 takes a single issuer key, but Ticket::fromBytes requires an array of issuer keys, indexed by devconId:

[code]

Current implementation results in "this.key" in the ticket object being undefined.

It also effects this usage in the same way:
src/main/javascript/crypto/src/libs/Eip712Validator.ts:105

[2022-05-03 06:19] micwallace commented on #250
@oleggrib happy to take this on tomorrow if you want, although I'd like to clarify the rationale behind passing multiple public keys first.

[2022-05-03 09:10] #250 closed

[2022-05-04 01:00] oleggrib opened #253 "Minting NFT by attestation when type of ticketID is string"
few month ago we updated ticket schema to allow ticketId as string. https://github.com/TokenScript/attestation/issues/221

so new tickets can be passed for minting to the SmartContract. so we need updated validationContract to allow string if someone use ticketId as string. For compatability we can return numbers as strings too. @JamesSmartCell, cound you update validation contract?

currently we

[2022-05-04 12:42] jot2re opened #254 "reïnsert the tests abandoned during liscon tickets"
We need to get hardhat integration tests up as part of our CI/CD.
In particular, due to lack of saving keys and updated format, we have had to completely remove some hardhat tests in the setting of Liscon tickets.  See PR #243
These should at a minimum be redone (in a way that makes it easy to update in case we end up changing the format).

[2022-05-04 13:03] #241 closed

[2022-05-13 09:48] jot2re commented on #183
@micwallace sorry I forgot to write you. This issue is still relevant. Currently the flow allows reuse of ZKPs. However, it seems like a very minimal change to get this fixed. I can try to make the changes needed in Token-negotiator and authenticator, but given I don't really have TS expertise I will need some help throughly validating and testing such changes. Let me know when you have time to lo

[2022-05-13 09:52] jot2re opened #258 "Handle recent security additions to attestation.jar in Authenticator"
In PR #248 I have added several security enhancements to the attestation.jar. Since we are currently using Authenticator as the Heroku backend app, these should also be implemented in Authenticator.

In general this task is about getting the Authenticator code up-to-date with attestation.jar.

In particular the only classes that seems to be strictly relevant to update is `ProofOfExponent`, `FullPr

[2022-05-13 10:03] jot2re opened #259 "Add option of including context information in construction of UN"
Currently a UN can be used multiple times within its validity.
This is a feature that allows it to be used repeatedly in short sessions without needing the user to sign a new UN.
However, this can also be a security risk in some contexts.
This task is about allowing an optional extra parameter to be used in the cryptographic process of constructing a UN, which can be used to link the UN to a speci

[2022-05-13 10:06] jot2re opened #260 "Attestation.jar Heroku based validation service"
Currently the the crypto-verify service is based on Authenticator. However, attestation.jar is the primarily reference implementation of the construction and validation of cryptographic aspects. In particular since it is throughly tested with negative tests and since it is the implementation that receives security updates first, it makes sense to use this as the remote verification service.

[2022-05-13 14:58] #240 closed

[2022-05-15 10:00] jot2re opened #262 "Handles issue of acceptance of self-signed ticket"
Currently attestation.jar will use the optional public key included in a ticket to validate it (this is not the case in the smart contract or authenticator, though).
While it was originally a feature which allowed easy proof-of-concept validation along with public key validation, it is currently not used like that and hence is a security issue.

[2022-05-15 10:05] jot2re commented on #262
To the best of our knowledge no tickets are issues with a public key so far.

[2022-05-15 22:43] oleggrib commented on #262
same question for publicKey, included in attestation. we use only external publicKey to validate signature, not embedded one, but smartContract use GAS to read attestationPublicKey length and jump through this value.

maybe its according to some standart, I am not sure about it and I dont know if we have to follow this standart.

[2022-05-16 07:28] jot2re commented on #262
The public key included in the attestation is the one for the subject, _not_ the signer of the attestation, but the owner of the attestation. It is used in `VerifyTicket.sol` to recover the address of the user who holds the ticket.

An alternative would be to require this to be encoded int he subject common name instead. Which is definitely doable, but would also mean we move further away form the

[2022-05-16 08:01] #262 closed

[2022-05-16 11:11] jot2re commented on #258
Of course!
First of all I can say that things don't look super complex when it comes to TS. Basically the way you have implemented elliptic curve arithmetic is using affine coordinates...  This basically means that you have implemented as anyone new would expect it to be implemented; as an x and y coordinate where the y coordinate is computed as y^2=x^3+ax+b.
This means that the x and y in a `Poin

[2022-05-16 11:18] jot2re commented on #258
Let me try to implement a draft of `validatePointToCurve`, then maybe you can adjust and fix the appropriate places to call it?

[2022-05-16 11:30] jot2re commented on #258
I have made a new branch off PR #248 and tried to implement what I think should happen in `validatePointToCurve`.
Is this sufficient for you to continue with, or should I try to implement some other code segments as well?

[2022-05-20 07:10] #211 closed

[2022-05-20 07:12] jot2re commented on #201
This has laster been fixed in Authenticator. So I am closing this issue.

[2022-05-20 07:12] #201 closed

[2022-05-20 07:14] jot2re commented on #198
This has been closed in issue #263

[2022-05-20 07:14] #198 closed

[2022-05-20 07:23] jot2re commented on #207
Currently only the version WITH commitment signed (i.e. the "good" and new one) can be used in the smart contract.

[2022-05-20 08:47] oleggrib commented on #207
We can close this issue, nothing to do here

[2022-05-20 09:03] #207 closed

[2022-05-23 05:01] weiwu-zhang commented on #260
I agree but what is this with Heroku? Clarify, did @oleggrib already set up the service using Heroku?

[2022-05-23 05:02] weiwu-zhang commented on #259
Unclear. Do you mean the UN should contain the hash of the current website domain or URL?

[2022-05-23 05:44] weiwu-zhang commented on #246
closed per #248

[2022-05-23 05:44] #246 closed

[2022-05-23 05:47] weiwu-zhang commented on #1
closing this issue as we moved to zk based protection mechanism.

[2022-05-23 05:47] #1 closed

[2022-05-23 07:06] jot2re commented on #260
Currently not all security verifications are implemented in the Authenticator. Furthermore, it is not as extensively negatively tested as attestation.jar. So I think we either need to use attestation.jar as the backend verification or we need to make sure all security fixes are up-to-date (in accordance with attestation.jar) on Authenticator.

[2022-05-23 07:08] jot2re commented on #259
This is more a "nice to have".
I talked with @oleggrib about this, and currently a UN can be reused during its entire validity. We discussed that this is generally not the functionality we actually want. We generally want it to just work a *single* time. However, this does not seem to currently be a big security issue.

[2022-05-24 03:25] oleggrib commented on #259
@jot2re ,
Current UN limited by:
- TTL
- domain

in most cases UN will be used in useEthKey object inside website session. So we can replace domain with session nonce and use UN as is. If no session then we can use domain, not nonce.
But websites, who can allow access to something or sell something with discount use cookie-sessions to stay user cart, auth, etc syncronized., so we can get nonce and

[2022-05-24 03:29] oleggrib commented on #260
I was busy with more urgent tasks for La-Praerie and devconnect and still didnt enable validation for heroku. At my morning I will work on it. Its a quick task.

[2022-05-24 09:03] oleggrib commented on #259
If single param enough for use then we can rename __domain__ to __nonce__ and sometime pass session nonce, sometime domain

[2022-05-24 09:39] oleggrib commented on #205
@micwallace , @nicktaras do you work on this issue?
if no then lets make simple JSON file (as forst draft) in specific location and read it from there. ok? I can do the PR.

[2022-05-25 04:10] weiwu-zhang commented on #254
@abcfy2 do you know the hardhat testing flow?

[2022-05-25 04:16] weiwu-zhang commented on #244
@abcfy2 do you know the hardhat testing flow?

This is actually not trivial - we might do a small project for getting this right, proper CI/CD setup between attestation.id, authenticator.js, attestation.jar and the smart contracts take a bit of effort to figure out.

[2022-05-25 04:19] weiwu-zhang commented on #249
When did this change came to be? This is too short for 2 reasons:\

1. It's not unusual that a blockchain transaction takes 1 hour or 1 day to be inserted into the blockchain. Sometimes the user can't push a new transaction until the old one is included in the blockchain, even if he knows the old one contains an already-expired attestation!

2. identifier attestations might have re-use value. Plea

[2022-05-25 04:27] weiwu-zhang commented on #220
Closing since all sub tasks are closed. Reopen if the sub-issues are not properly merged into main workstream.

[2022-05-25 04:27] #220 closed

[2022-05-25 04:30] JamesSmartCell commented on #224
That's correct; and we do use the full ID in the attestation (or at least, we should be - the prototype used the full ID including the numeric ID).

[2022-05-25 05:06] weiwu-zhang commented on #196
2 actions already done.

[2022-05-25 05:06] #196 closed

[2022-05-25 05:10] weiwu-zhang commented on #224
There is no known case in the smart contract where the verification compares one identifier attestation with another one to see if it attests the same user.

[2022-05-25 05:10] #224 closed

[2022-05-25 05:23] weiwu-zhang commented on #155
this issue is closed because it is not executable (lack use-cases where this is clearly defined.)

[2022-05-25 05:23] #155 closed

[2022-05-25 06:49] foxgem commented on #254
doesn't hardhat support test? if there are the testcases for the contracts, it is easy to add a github action to kick off it with hardhat command: `npx hardhat test`.

[2022-05-25 07:33] jot2re commented on #249
Regarding point 1. the thought was that if we could make the design change relatively easy, perhaps without needing support for the old and new ASN format at the same time.

Regarding point 2. the thought was to apply this to all attestations, since the format is already modified so much that it is not x509 compliant. Hence we thought it would not be necessary to add redundant `GeneralizedTime` da

[2022-05-25 07:42] jot2re commented on #254
Yes, hardhat supports tests. However, they have not been set up in an optimal manner. I.e. they use hard-coded signed object where the test keys have never been saved. Hence many of the tests have been out-commented as formats of signed objects have changed.
Hence this task is about reenable, refactor and perhaps expand the tests in a way way where they are easy update and expand.
Furthermore, the

[2022-05-25 08:17] jot2re commented on #244
In relation to this it should also be mentioned that there are some issues with the hardhat tests in attestation.jar, see issue #254
As part of this CI/CD task these should also be reenable.

[2022-05-25 08:18] jot2re commented on #254
Although as @weiwu-zhang has pointed out to me, adding these to CI/CD should be part of issue #244

[2022-05-25 08:33] foxgem commented on #244
yes, that's why I suggest we get our dependencies graph first, ;).

[2022-05-26 03:11] oleggrib commented on #260
@nicktaras , @micwallace , you can use https://crypto-verify.herokuapp.com/ to validate ticket+emailAttestation+proof, its request script example: https://github.com/oleggrib/crypto-verify/blob/main/src/request.js

[2022-05-27 08:06] jot2re commented on #244
It looks really good! Thanks @foxgem!
I think the only thing we might also want to add is the smart contract hard hat testing when attestation.jar has been updated. See issue #254.

[2022-05-27 13:06] oleggrib commented on #244
currently attestation JS code located under https://github.com/TokenScript/attestation/tree/main/src/main/javascript/crypto
to test it I do next steps:
1. in the _root_ folder  ```gradle test --rerun-tasks``` to regenerate test output files
2. in the _main/src/main/javascript/crypto_ folder I run ```npm run testjest``` , it read output files from _gradle test_ and tests agains them.

So we can run

[2022-05-27 16:07] oleggrib commented on #249
Current Issue related to remove unused fields _notBefore_ and _notAfter_ , not related to the attestation TTL
anyway - we use attestation TTL 1 hour for test purposes, last Auth0 attestation TTL is 30 days.

currently identifier attestations reusable, its OK

[2022-06-02 07:17] jot2re commented on #218
I am closing this since it is handled with PR #239

[2022-06-02 07:17] #218 closed

[2022-06-02 10:48] jot2re commented on #217
@nicktaras confirms this is no longer relevant.

[2022-06-02 10:48] #217 closed

[2022-06-17 12:00] jot2re opened #266 "Attestation secret is shared with DevCon"
See section 2.1.1 in the Token-negotiator report.
We note that while not pointed out in the Token-negotiator report, we believe that the problem can be fixed having attestation.id produce a special zero-knowledge proof, which can be validated by DevCon and combined with a zero-knowledge proof the ticket secret by DevCon. The combined zero-knowledge proof can then be verified by Hotel Bogota.

See

[2022-06-17 12:08] jot2re opened #267 "Email not validated in DevCon flow"
The user's email is not validated by attestation.id when issuing attestations based on a magic link.  I.e. the ticket issuer is trusted to implicitly do the validation through the secret in the magic link.

See section 2.2.5 in the Token-negotiator report.
See (Jira issue 291)[https://smarttokenlabs.atlassian.net/browse/PR-291].

[2022-06-17 12:09] jot2re commented on #267
@weiwu-zhang as far as I have understood from you, this issues goes against both the scope of what we want of attestation.id, but it also goes against the threat model.
However, this greatly increases usability and I think it might be "won't fix" issue. Can you confirm if this is the case or not?

[2022-06-17 12:30] jot2re opened #268 "Hard-coded private keys in source code."
In the Heroku Crypto-verify service, multiple passwords and private keys are hard-coded in the index.ts file. Concretely this is the password for mail.antopolbus.rv.ua and a signing key for ticket issuance.

See section 2.5.2 in the NFT Minting security report.
[See Jira issue 291.](https://smarttokenlabs.atlassian.net/browse/PR-291)

[2022-06-17 12:32] jot2re opened #269 "Entropy source for unpredictable numbers is guessable"
The Heruko crypto-verify needs to be able to construct unpredictable numbers. This requires a high entropy key, in order to yield the security guarantees required for an unpredictable number. However the key used is a 3 digit number. Hence without any entropy. It should be replaced with a high entropy key stored in an environment variable.

See section 2.5.4 in the NFT Minting security report.
[Se

[2022-06-20 02:10] foxgem commented on #244
## Phase#1

Goals:

- attestation github clean up
- attestation <> attestation.id CI integration

### Action Plan

1. Attestation `main` branch
    1. java component (java-main-p1)
        1. build - test - grype
    2. js component (js-main-p1)
        1. build - test
    3. contract component (contract-main-p1)
        1. build - test
2. Attestation `stage` branch
    1. java component
        1

[2022-06-20 02:28] oleggrib commented on #267
@jot2re , we dont use attestation by magic link  nomore, because it generate valid emailAttestation and user can use this emailAttestation for other projects and it means that one-time magicLink lead leads to forever emailAttestation compromise.

in case if we need emailAttestation based on magicLink then we need to limit emailAttestation per token and this need to share tokens schema/keys with at

[2022-06-20 02:34] oleggrib commented on #266
Looks like its same level of security when Attestation secret or specialZPK shared with DevCon and DevCon and use this value to create email ZPK.
so "secret level of security" = "specialZPK level of security", isn't it?

[2022-06-20 03:12] weiwu-zhang commented on #267
Will follow up today.

[2022-06-20 03:14] weiwu-zhang commented on #267
Wont' fix till DevCon is over.

[2022-06-20 07:44] weiwu-zhang opened #270 "NftOwnershipAttestation and EthAddressLinkageAttestation"
Note that in making schema for these 2, the first attestation's subjectPubKey is an RSA key, and the 2nd attestation is signed by an RSA key.

Given the cost of a transaction of 68 gas per byte†, it's quite punishing to use RSA. Suppose 4k RSA is used, it means 512 bytes in `SubjectPublicKey` of the `NFTOwnershipAttestation` and another 512 bytes in the signature of `EthAddressLinkageAttestation`,

[2022-06-20 07:48] foxgem commented on #244
after discussing with @jot2re , the output of `grype` will be like:

success

[code]

failure

[code]

so, the `grype` task is to find if there is **"0 vulnerabilities"** in the output. cc @abcfy2

[2022-06-20 07:53] jot2re commented on #270
2048 bit RSA should be sufficient here. In particular, as you mention, the expiry of the RSA signing key is very short. So as long as the signing key of the first attestation (i.e. the signing key that signs the public RSA key) is either a secp256k1 or 3096 bit RSA key, things should be fine for our purpose.

[2022-06-20 07:56] jot2re commented on #270
I would even say, that if the expiry of the public RSA key is less than a day, we could go down to 1024 bits. Since even that would realistically take a year to crack with a[ huge cluster](https://www.schneier.com/blog/archives/2008/06/kaspersky_labs.html ).

[2022-06-20 08:03] weiwu-zhang commented on #270
Let's go with 1024 bits, since the gas cost is very sensitive in today's environment...

[2022-06-20 08:06] jot2re commented on #266
Yes, issues is that DevCon front end learns both attestation secret and ticket secret. This is not a huge issue. It is an issue we previously accepted as being needed a needed evil with our design. However I realised there is a way to prevent it.
This issue is about implementing the fix, if @weiwu-zhang thinks it is worth putting in the effort to handle.
(The expected time is not much, but the cha

[2022-06-20 08:12] micwallace commented on #270
Hey both,

I made some progress on Friday and today in regards to the safe connect flow:

You can see a simple simulation here that demonstrates the process. Looking for feedback in regards to the schemas of each attestation.

I think the main thing I will need help with is the smart contract validation. But first we need to lock in the schemas.

[2022-06-20 08:20] jot2re commented on #267
@oleggrib my understanding was that the attestation validity was still time restricted to 1 hour or 1 day (at least it was the case the last time I went through the attestation.id flows). Is that not the case anymore? Or do you simply mean that because the user has access to the magic link, they can always construct a new email attestation?

[2022-06-20 09:28] oleggrib commented on #269
3 digit number it was a password(key) to hash messages.

secret generated in the UnpredictableNumberTool constructor: crypto.randomBytes(UnpredictableNumberTool.BYTES_IN_SEED)

is it OK? @jot2re

[2022-06-20 09:43] oleggrib commented on #267
current emailAttestations with Auth0 flow has TTL 1 month,

yes, exactly, this is why we dont use it. @jot2re

[2022-06-20 09:49] oleggrib commented on #268
heroku use private repos, but I moved sensitive data like passwords/keys to ENV variables @jot2re

[2022-06-20 10:23] oleggrib commented on #269
@jot2re , ok, I got it.
so many bytes must be the KEY to stay service secure?

[2022-06-20 10:51] jot2re commented on #269
At least 16 bytes. Preferably 32 bytes.

[2022-06-20 11:12] oleggrib commented on #269
key updated to 32bytes. you can see it in the heroku app settings

[2022-06-20 11:20] jot2re commented on #269
Great! Thanks @oleggrib

[2022-06-20 11:20] #269 closed

[2022-06-20 11:51] jot2re commented on #270
@micwallace thanks for the good work!
I think that both of them still need a `notBefore` and `notAfter` timestamp. I think the NFT attestation also needs some context variabel, to allow use to associate different aspects to what is certified. E.g. if the NFT ID is the real one or a pseudonym

[2022-06-20 12:39] jot2re commented on #270
`notBefore` is not strictly needed if the server is guaranteed to be honest and _always_ have a correct clock set. It is more an issue if the server the issuer can be untrusted. However, it also is used to protect against misconfigurations (i.e. wrong time set).
It can also be used to make non-repudiation better, since now the signed attestation uniquely defined how long time it will be valid.
So

[2022-06-20 12:41] jot2re commented on #270
One more thing; We might want to include a `algorithmIdentifier` to allow for usage of different types of signing keys.

[2022-06-20 19:05] oleggrib commented on #249
@weiwu-zhang , @jot2re , what do we decide? remove redundant **notBefore** and **notAfter** as we dont use them?
maybe even remove/makeOptional **notBeforeInt**, because emailAttestation issued on the attestation.id backend and must be validated on blockchain or another backend server, so no chanse to make attestation for future use?

[2022-06-21 02:53] abcfy2 commented on #244
I've committed `java-p1` CI, which will run gradle build & test & grype check after `push` / `pull_request` to `main` branch.

Sample: https://github.com/TokenScript/attestation/actions/runs/2532698892

[2022-06-21 05:10] weiwu-zhang commented on #270
Yes.

[2022-06-21 07:32] micwallace commented on #270
Hey @jot2re

I've added the new schemas into my simulation and it's working well.

I have a few suggestions:

1. Re. issue #249 - since this is a brand new schema I suggest we take this opportunity to remove any redundant fields such as the generalized time fields.
2. The legacy NFTAttestation allows attesting ownership of multiple tokens. I don't think there's much of a size penalty for doing thi

[2022-06-21 08:43] jot2re commented on #249
If we remove them now, I think we need to first change the default issuance structure to issuer attestation that only use **notBeforeInt** and **notAfterInt**. Then after that is deployed, we wait a month and finally remove the `GeneralizedTime` code.

[2022-06-21 08:48] jot2re commented on #270
1. Yes, definitely! The code I am writing for this does not even know of the existence of `GeneralizedTime` ;)
2. Good idea! Let us keep things as general as possible and reuse as much code as possible.
3. Hmm, that is weird. There can be issues when not using ASN1 tags and having multiple optional elements of same type following each other. But that is not the case here. Anyway, let me move it an

[2022-06-21 10:55] weiwu-zhang commented on #270
Tore refers to https://github.com/TokenScript/attestation/tree/270-safeconnect

[2022-06-21 11:02] weiwu-zhang commented on #270
@jot2re can you comment on the exponent (3 or 65537)? The gas implication is considerable.

[2022-06-21 11:12] jot2re commented on #270
65537 is the safest. If we use a proper padding scheme for signing then 3 should also be ok

[2022-06-21 11:33] weiwu-zhang commented on #270
OKay let's do 65537 and consider 3 an improvement (gas saving) once everything is done.

[2022-06-21 13:38] jot2re commented on #270
BTW 65537 should no be hugely more expensive than 3 if proper optimisations are in place. See [here](https://www.johndcook.com/blog/2018/11/27/fermat-primes/)

[2022-06-21 14:41] abcfy2 commented on #244
`js-p1` CI added. When `push`/`pull_request` code changes to `main` branch in `src/main/javascript/crypto/` directory will trigger this CI.

Sample: https://github.com/TokenScript/attestation/actions/runs/2536158552

[2022-06-27 03:16] abcfy2 commented on #244
`contract-p1` CI addes.

[2022-06-27 14:17] oleggrib commented on #249
@foxgem , problem is at least - duplicated values, its always not good. we dont know what value is correct and we have additional point for errors

@jot2re , we can make GeneralizedTime optional and dont use it, so code will be compatable.

[2022-06-27 15:47] oleggrib commented on #270
@snowwhitedev , did you use optimization, suggested by @jot2re ?

current test case by @micwallace use 320K of gas to validate attestation. Its lot enough, we have to try optimize gas.

@snowwhitedev , can you try to optimize gas usage?

[2022-06-27 15:49] snowwhitedev commented on #270
Okay let me try

[2022-06-27 16:01] oleggrib commented on #266
So we afraid that DevCon_front has secrets , which it use to create ZKP.
what the difference if DevCon_front get some other values and can use it to create ZKP?

are those new items limited in time? @jot2re

[2022-06-28 02:47] oleggrib commented on #205
@micwallace , @nicktaras will we still duplicate config? out backend should validate it too, so we need aligned config. With more duplication more chanses make mistake.

[2022-06-28 07:30] AW-STJ commented on #205
I will escalate this with @weiwu-zhang. We had discussed this recently as well.

If we are hitting this issue again, and is related to attestation.id as well, then its high time to decide on the config before moving forward

[2022-06-28 09:26] jot2re commented on #266
The issue is that if DevCon front learns the attestation secret, which means it could use the attestation in other settings (if they exist).
My thought about this suggestion was that the ZKP would be linked to a specific context such that the partial ZKP DevCon front received from the Attestation iframe cannot be used in other settings than the current proof. Hence protecting against misuse by a m

[2022-06-28 14:15] snowwhitedev commented on #270
@weiwu-zhang @jot2re @oleggrib @micwallace
I just tried to estimate gas
Total  VerifyLinkAttestation  consumes 319355 gas.
And current RSA Verification(1024bit - 65537) consumes 192166.
I am trying to find reduce gas based on current code base.

[2022-06-28 21:10] snowwhitedev commented on #270
I have made some progress for gas optimization
- VerifyLinkAttestation: "319355"
 Before: 319355
 Now: 277258 (around 25000 save from removing console.log)

- RSAVerification: 192166
  Before: 192166
  Now: 183984

[2022-06-29 01:11] oleggrib commented on #229
I think we can close this issue, because:
- attestation.id require to connect wallet, in most cases its WalletConnect, so we have to display attestation.id window
- attestation.id is separate product, we cant send data to sign to the attestation.id
- products must be secure, so each wallet connection display user domain, which app want to use and better avoid confuse users.

so in our case no secu

[2022-06-29 01:53] AW-STJ commented on #229
Thanks Oleh, agreed. May be the way to avoid user confusion is to open up a new tab rather than doing it through a modal. Closing the issue as we have discovered that the users will have to connect the wallet again through modal.

[2022-06-29 01:53] #229 closed

[2022-06-29 07:55] jot2re commented on #249
Yes, I agree with you @oleggrib  on both points. I think it makes sense to make the default behaviour to just include notBeforeInt and notAfterInt. And then after a month we can completely remove the need for the code to understand `GeneralizedTime`

[2022-06-29 10:00] jot2re commented on #270
Out of curiosity, what kind of numbers to you get if you use exponent 3?

[2022-06-29 10:31] micwallace commented on #270
I just tried this any it only takes off around 6k

[2022-06-29 10:50] jot2re commented on #270
Ah, I see. Then maybe we just stick with the 65537 exponent :)

[2022-06-29 10:53] jot2re commented on #270
As an alternative we could consider using an even smaller key. The largest known factoring is of 830 bits and that took 2500 core years (based on a Intel Xeon CPU). Since we are working with something that only should be hard to break within an hour.

[2022-06-29 10:53] jot2re commented on #270
However I think that cutting off more than 256 bits is not a good idea. So I am not sure if things will be much faster with a 768 modulus?

[2022-06-29 11:30] jot2re opened #275 "Make the UN based on a signature instead of a MAC"
Currently the construction of a UN is based on a MAC. This works fine in the online setting, but we are getting into situations where we need to be able to do validate offline. In particular in the blockchain.
For this reason it makes sense to change the structure of the unpredictable number to be based on a digital signature (ECDSA secp256k1) instead of a MAC.

[2022-06-29 11:48] snowwhitedev commented on #270
Did you try exponent 3?

[2022-06-29 11:50] jot2re opened #276 "Eip712Validator.ts is lacking some checks"
In Eip712Validator.ts.validateRequest()
Eip712AttesationRequest.ts.checkValidity()
Eip712AttesationRequestWithUsage.ts.checkValidity()
token-authenticator does not validate chainID, verifying contract or salt, whereas this is validated in the equivalent classes in attestation.jar. It means that signed requests can be used on any contract or chain in the future.

See section 2.2.3 in the Token-nego

[2022-06-29 11:51] snowwhitedev commented on #270
I should try with exponent - 3. I will share after calculation

[2022-06-29 17:00] snowwhitedev commented on #270
I tried RSA signature verification with exponent - 3, but I can save only around 10000 gas.
@micwallace I am curious how you can reach to 6k. Did you update git? I would like to hear more detail via discord chat.

[2022-06-29 20:15] snowwhitedev opened #277 "Create solidity library for pure functions in VerifyTicket.sol"
It seems we can make solidity library for pure functions in VerifyTicket.sol to optimize smart contract

[2022-06-29 20:24] oleggrib commented on #277
@snowwhitedev  how much gas can it save? how can it optimize contract? can you tell me?

[2022-06-29 20:28] snowwhitedev commented on #277
I don't expect to reduce gas fee, but I will check gas differences. But we can reduce contract size at least

[2022-06-30 02:50] micwallace commented on #270
Sorry, just noticed that I was testing with a 2048 bit modulus, so that is the difference. Here's my test results for each:

VerifyLinkAttestationTest:
2048bit exp. 65537: 277,222
1024bit exp. 65537: 194,699
2048bit exp. 3: 271,299
1024bit exp. 3: 193,514

So large gains to be had for shorter keys, bit not exponent, especially when using 1024bit.
@snowwhitedev I've updated test cases with differen

[2022-06-30 08:49] oleggrib commented on #266
@jot2re , If DevCon front page will be hacked then it can send any context request to the attestation.id and create any proof.

My suggestion is:
1. Add confirmation request to the attestation.id to share emailAttestation and secret with specific page, so user have to obviously confirm attestation share.
2. share some kind of secret-ZKP, limited in time for 1 day or few hours

[2022-06-30 10:14] jot2re commented on #266
@oleggrib
1. Yes, I think that would be great as a minimal fix.
2. Yes, that makes sense too. Although I think that making that work might be more complex than adapting the ZKP procedure as suggested should also handle this.

I think we should have a talk with Sunil or Weiwu about prioritising this issue and related issues of UN's and context in the ZKPs.

[2022-06-30 10:41] oleggrib commented on #266
@AW-STJ , @weiwu-zhang what do you think about 2 things to make emailAttestation more secure:

1. Add attestation.id confirmation popup to share attestation+secret (currently any page in user browser can request and receive user attestation , if attestation generated and saved )
2. update crypto-flow to return emailAttestation with short TTL, 6-24 hours (user still have to issue and sign attestati

[2022-06-30 12:02] snowwhitedev commented on #270
I will try

[2022-06-30 13:25] jot2re commented on #254
@oleggrib yes, that is no problem. There is also no problem with hardcoded test-keys. The problem with the old hardhat tests were that signed objects were hardcoded and signed with a private test key which was not saved. Since the format of objects had changed everything needs to be set up and generated again. I think the best is simply to store the code for generating these things and keeping the

[2022-06-30 13:50] oleggrib commented on #254
@jot2re , by the way - I always try to add fallback random private key, so even if  .env is missing then hardhat still can pass tests, so in most cases no need to change something, even more - currently in this repo hardhat tests are passing OK

[2022-06-30 13:55] jot2re commented on #254
I think we might be misunderstanding each other @oleggrib. What happened was that I had to outcomment a lot of hard hat tests awhile ago because they were based on base64 encoded objects, but the structure of that object had changed. Hence leaving out the tests was a quick fix instead of writing code to generate new object and adjusting the tests :)
So this task was originally simply intended to f

[2022-06-30 14:05] oleggrib commented on #254
we dont use Liscon flow nomore, so I think no need to supprt Liscon tests. LisCon updated to devconnect. @jot2re @AW-STJ

[2022-06-30 14:31] jot2re commented on #254
Ah, right. Sorry. I don't remember if everything was Liscon specific, but if it is, then you are right that the out-commented tests are no longer an issue.

[2022-06-30 16:02] snowwhitedev commented on #270
@weiwu-zhang  @jot2re I tried to calculate RSA signature gas.  Surprisingly there's few difference between exponent 65537 and 3.
 Here's result
 === 1024 bit result ==
 RSA txResult ==> 178099
RSA exponent -3 txResult ==> 178075

=== 768 bit result ===
=== Exponent 65537 ===
RSA txResult ==> 132424
=== Exponent 3 ===
RSA txResult ==> 132400

=== 512 bit result ===
=== Exponent 65537 ===
RSA txResu

[2022-07-01 06:47] jot2re commented on #270
Given the minor difference between exponent 3 and 65537 I think we should go with 65537 at least. In particular since we are using PKCS #1 1.5 for encryption. The reason being that exponent 3 and PKCS #1 1.5 together can lead to a security issue in case the signature validation algorithm is not "fully" implemented. See section [1.7 here](https://cs.au.dk/~ivan/pkcs1.pdf)

[2022-07-01 10:37] abcfy2 commented on #244
`stage` branch workflow finished.

Result sample:

java CI: https://github.com/TokenScript/attestation/actions/runs/2596014131

js CI: https://github.com/TokenScript/attestation/actions/runs/2595982268

[2022-07-03 16:31] jot2re commented on #275
In relation to this and the current UN implementation I think we should increase it's length from 64 bits to 128 bits since it now  not only work to give randomness but also authenticity of the randomness.

[2022-07-04 00:12] oleggrib commented on #184
UN should be signed, validation require more GAS, but if we need it then option2 can suit it (but we have to change UN flow to use ECDSA - https://github.com/TokenScript/attestation/issues/275):

https://github.com/TokenScript/attestation/issues/266#issuecomment-1171059211

but maybe option 1 will be enough? user always will be warned when he share attestation secret and we dont waste gas?

@jot2r

[2022-07-04 03:53] oleggrib commented on #270
when I tried to test RSA validatation then I can see results:
only RSA 512bit = approx 81K of gas
empty TX = approx 24k
so difference = 57K of GAS used by RSA validation itself

[2022-07-04 07:25] jot2re commented on #184
I am not sure option 1 form #266 is sufficient in this case. It depends on the use-cage. For example if the user needs to prove the same email used in an attestation as in the ticket, then such a proof could be reused. Of course the contract might disallow this, but in general it is not good to share cryptographic proofs on the blockchain which are not linked to a specific usage.

[2022-07-04 09:04] foxgem commented on #244
## Phase#2

Goals: including TN project

Length: 1~2 weeks

### Action Plan

1. TN `main` branch (tn-p1)
     - build - test
2. if the `stage` branch changed in `tokenscript/attestation` or `attestation.id`
     - pre-release-of-dependencies - call tn p1

[2022-07-04 12:18] oleggrib commented on #270
@jot2re , I optimized SolRsaVerify so it use 22K of GAS to validate RSA 1024 exp 65537
 , so we can use it in contract :-), I will push updates for testing soon.

cc @weiwu-zhang @snowwhitedev @micwallace

[2022-07-04 12:24] jot2re commented on #270
Awesome! That is great, @oleggrib !

[2022-07-04 13:07] micwallace commented on #270
Awesome @oleggrib latest is on maim branch here:
https://github.com/TokenScript/safe-connect-demo/blob/attestation-method/ethereum/contracts/libraries/SolRsaVerify.sol

[2022-07-04 13:59] oleggrib commented on #270
https://github.com/TokenScript/safe-connect-demo/blob/master/ethereum/contracts/libraries/SolRsaVerify.sol
pushed to master
prev usage:
STLTNMint   ·  mintAttest  ·           -  ·          -  ·     293031
new usage
STLTNMint   ·  mintAttest  ·           -  ·          -  ·     224098

[2022-07-04 15:04] snowwhitedev commented on #270
Awesome

[2022-07-04 15:51] jot2re opened #280 "Make attestation.jar test dumps that can be used by Authenticator"
Many tests in Authenticator contains hard-coded objects which expire. It is better to simply have attestation.jar create dumps of objects which can be read and validated in authenticator.
This will ensure consistent compatibility

[2022-07-05 12:12] jot2re commented on #258
Closed with the merge of PR #248

[2022-07-05 12:12] #258 closed

[2022-07-05 12:13] jot2re commented on #254
Closing since the relevant code for this is obsolete

[2022-07-05 12:13] #254 closed

[2022-07-06 21:31] oleggrib commented on #184
@jot2re  yes, option 1 solve bit different problem: avoid to share attestation+secret with anyone without confirmation (through hidden iframe)

for UN+ZKP: if we use ZKP for smartContract then context can be a smartContract address, but I am not sure how to do it in gas-efficient and secure way

[2022-07-07 07:36] jot2re commented on #184
I am also thinking something along the line of only using the address. When it comes to the UN on the blockchain, verification would require validating a signature (assuming we change UN implementation), which would be 3000 gas plus everything else.
So maybe it makes sense to have a different flow in off-chain and on-chain cases; using UN with optional context in the off-chain setting and simply u

[2022-07-07 09:47] oleggrib commented on #184
@jot2re , in case if we use smartContract address as context then we need definitely different context for off-chain (when we dont have smartContract address), domain can be good and simple option.

currently we check if both secrets fit each one. but how to mix context to this schema?

[2022-07-11 09:41] abcfy2 commented on #244
Phase#2 done.

Sample: https://github.com/TokenScript/attestation/actions/runs/2648616646

[2022-07-11 13:06] jot2re opened #282 "Update static Authenticator tests to use attestation.jar generated tests"
After the completion of issue #280 a dump of valid keys and attestations are stored in `build/test-results`.
These can be used in liu of the hardcoded tests in `main.spec.ts` to test the Authenticator solutions.
This has both the advantage of validating interpretability between Attestation.jar and Authenticator, but also ensure that new static test material does not need to be generated all the ti

[2022-07-13 11:26] jot2re commented on #280
This is closed with PR #283

[2022-07-13 11:26] #280 closed

[2022-07-13 23:03] #276 closed

[2022-07-18 01:30] weiwu-zhang commented on #270
@oleggrib 90k to 20k gas reduction is very impressive! Can you do a PR on this repository (attestation, not safe-connect-demo) and against issue #139 (not against this issue)?

I'll close this issue once I verified the two attestation asn schema.

[2022-07-19 23:35] oleggrib commented on #270
@weiwu-zhang , thanks.
@snowwhitedev copied contracts for attestation to the /attestation repo. We will update contracts to avoid code duplication and I think we can add attestation validation contracts to /attestation NPM , so our other projects can easy use it

[2022-07-20 15:17] snowwhitedev commented on #270
Yes, I think so, too

[2022-07-27 11:51] oleggrib opened #288 "Combination Mac-Safari-TN(in the new tab)-Attestation.id(in iframe) doesnt work"
<img width="1264" alt="image" src="https://user-images.githubusercontent.com/18176173/181238431-10714c65-d3d7-48b3-8141-e95ff9af8099.png">

TN detects Safari and use new tab, but authenticator dont use this check and still use iframe and got an error.

Would be good for Authenticator to check how page opened in new tab or iframe and do the same logic for attestation.id, maybe it can help in some c

[2022-07-28 04:21] AW-STJ commented on #288
Does it impact NFT minting for DevCon as well? If so, this has to be prioritised

[2022-07-29 00:46] oleggrib commented on #288
@AW-STJ , for now I disabled safari support at stage App: https://devconnect-stage.alchemynft.org/
we can enable it when problem resolved

[2022-07-30 10:11] AW-STJ commented on #288
Please let me know whether we can resolve this issue without rolling back Auth0 support for attestation.id

[2022-08-02 17:16] JamesSmartCell commented on #200
Hi @jot2re sorry for the delay, yes the way I approached this was to use the address in the base IdentifierAttestation and test the integrity of this address by performing verify on the SignedIdentifierAttestation. The SignedNFTAttestation then must correspond to the subject in the IdentifierAttestation because you need to verify the integrity of that signature and unwrap like a cryptographic Matr

[2022-08-02 17:18] JamesSmartCell commented on #221
Yes, that PR should close this issue.

[2022-08-03 07:11] #200 closed

[2022-08-03 07:14] #221 closed

[2022-08-09 14:03] oleggrib commented on #288
@jeanhwa , could you test it? should work good now

[2022-08-10 04:31] jeanhwa commented on #288
@oleggrib tested and works good now.

[2022-08-10 08:53] AW-STJ opened #291 "Attestation Flow Improvment"
@oleggrib - thanks for creating the prototype. Here is what I had tested:
https://www.loom.com/share/878b5348f5354aad8edf7f255ea0a0be

In the flow, when I click verify the below modal opens up:
![image](https://user-images.githubusercontent.com/61957841/183858383-f59d8ef2-6e52-436a-89cc-9c1f6800c181.png)

Can this step be avoided and let the new tab open up automatically.

The best flow I have see

[2022-08-11 11:51] oleggrib commented on #291
let me describe the flow, flow is universal:
- third party website opens token iframe
- all secrets stay secured in the tokenIframe
- tokenIframe request attestation.id . this is where problem appeared -  attestation.id + Auth0 doesnt work in iframe :-), so I have to open new tab, but new tab is blocked until user click some button, this is why I have to display button

twitter authorization dont

[2022-08-11 12:28] micwallace commented on #291
@AW-STJ @oleggrib It would be possible to implement a flow using redirects (like a lot of oauth services use). The most time consuming work would be restoring state after the user is redirected back to the third party website, but in most cases that's not much of an issue since TN is no longer required.

This wouldn't be a good UX for token loading but it's fine for the attestation process, and wo

[2022-08-12 00:25] oleggrib commented on #291
@micwallace , I'd like to avoid send sensitive data as URL param, so I am trying to send data with postMessages, because its most secure way. In case of redirects they use params, but params often saved in HTTP server logs, so its additional option to get access to user secrets/email/etc

[2022-08-12 01:20] micwallace commented on #291
@oleggrib You can use document hash (URI fragment) for this purpose. This part of the URL is not sent to the server by the browser. There is still risk in the case of a compromised browser or system but in that case the user is already screwed haha

[2022-08-12 06:05] AW-STJ commented on #291
If we can make this work, with a good coverage of devices and platforms, then the better user experience would be worth putting in this effort. Needs to provide standard level of security as well.

@oleggrib - do you think the security would still be compromised

@micwallace - can you describe the user flow, if your proposed solution is implemented. Would it be the same as the Twitter OAuth thats

[2022-08-15 02:50] colourfreak commented on #291
This is a very good UX. The user does not need to know or click anything. Just sit and wait.

[2022-08-15 03:08] colourfreak commented on #291
If that opens Attestation iframe in a new tab, it means that I won't be able to complete the process in AlphaWallet browser (no support for multiple tabs)

[2022-08-16 14:55] oleggrib commented on #291
@colourfreak , I have prepeared flow to open attestation.id in same tab, create attestation, then back to Devconnect tab and then read ready attestation through iframe. I will test this flow later, because no time to do it right now.
but I hope it will work good in Alphawallet browser too.

[2022-08-17 06:29] AW-STJ commented on #291
Hey @oleggrib - one small change.

Watch the video from 0:30
https://www.loom.com/share/11b913f3b06747eea9311d2be8ccad7f

If someone navigates back, then it shows the following modal. Does not make sense.

![image](https://user-images.githubusercontent.com/61957841/185049797-6bf32f9e-74f0-4bdd-896d-75a986f8f9c2.png)

Instead, can you show 'Email Attestation verification in progress'

[2022-08-17 23:20] oleggrib commented on #291
@AW-STJ , I fixed auto-fill email , added your text and added attestation tab close detector

[2022-08-17 23:28] oleggrib commented on #291
@micwallace
I have bit different idea:
1. open iframe and try to get attestation
2. if no valid attestation then redirect whole page to the attestation. attestation will be saved
3. back to page and try to get attestation with iframe

[2022-08-18 00:27] micwallace commented on #291
@oleggrib This is good but it won't work on Safari because of their iframe origin policy. This could be fixed by returning the attestation in the URL fragment. Safari will always have to redirect but it will work at least.

[2022-08-18 04:29] colourfreak opened #293 "QR Code Scanner Mini App"
**Landing Page**
https://zpl.io/z8BNW8z

**Create an Event**
https://app.zeplin.io/project/62f9b53ef50a5b134b4eb887?seid=62fdbf56260e812663d4639d

**Scan QR Code**
https://zpl.io/r1n8No5

[2022-08-18 04:31] colourfreak commented on #293
https://www.google.com/gmail/about/

[2022-08-19 04:34] colourfreak commented on #293
[neue-plak-cufonfonts.zip](https://github.com/TokenScript/attestation/files/9379184/neue-plak-cufonfonts.zip)

[2022-09-01 22:41] theschweitz opened #295 "MagicLink does not update with new email on Order"
With regards to Devconnect '22 shop on Pretix:

Order was originally placed with **email 1**, but at some point **email 1** was changed to **email 2**.
After issuing emails with {attestation_link} placeholder, MagicLink contains **email 1** in the link.

This can be an issue if an employee lost their job & access to their **email 1** after placing an order.

Attestation.jar should update with new

[2022-09-01 22:45] theschweitz commented on #295
<img width="443" alt="Screen Shot 2022-09-01 at 4 42 50 PM" src="https://user-images.githubusercontent.com/77123385/188025210-f322b634-2872-4aa3-8bec-5220702d5062.png">
<img width="607" alt="Screen Shot 2022-09-01 at 4 44 45 PM" src="https://user-images.githubusercontent.com/77123385/188025213-889d3ae7-ca5a-41a5-8e0a-be7424e2a3a3.png">

How MagicLinks are generated.

[2022-09-14 14:47] jot2re opened #296 "Add a format string to the "message to be signed""
As discussed in this [issue](https://github.com/TokenScript/attestation/pull/284) we need support specific messages to be signed as part of a UN. Basically a format string should be given as input.

Note that this should be secure since it must be supplied by the crypto-verify service and not from the user.

[2022-10-11 07:32] jot2re commented on #275
Closed with PR #284

[2022-10-11 07:32] #275 closed

[2022-10-11 07:40] jot2re opened #300 "Integrate signature UN and context"
Currently java and TS code both supports signature UNs with context. However, the actual protocols executing using UNs don't use these features.
We should make sure that the products use this. Thus this requires integration in both the java and TS code.

See this [issue](https://github.com/TokenScript/attestation/issues/275)

[2022-10-11 07:49] jot2re commented on #300
See the sister issue on [Safe-connect ](https://github.com/TokenScript/safe-connect/issues/9)

[2022-10-26 10:50] jot2re opened #301 "Tests fail due to decommission of Rinkeby"
Currently several tests of attestation.jar fails when trying to to verify against the smart contracts.
The failure is the following error, which happens in `SmartContract.java`:

[code]

The failure can be reproduced by running `UseTicketTest.testSmartContractDecode()`

[2022-11-04 12:42] jot2re commented on #301
I made a new branch starting work to fix this. The issue is the URL in SmartContract.java:getWeb3j() I think maybe all that is needed is changing this URL and pushing the smart contract to the correct test network should do it

[2022-11-14 10:08] #5 closed

[2022-11-14 10:09] jot2re commented on #14
Obsolete, will close.

[2022-11-14 10:09] #14 closed

[2022-11-14 10:10] jot2re commented on #31
Obsolete, will close.

[2022-11-14 10:10] #31 closed

[2022-11-14 10:11] jot2re commented on #32
Obsolete, will close.

[2022-11-14 10:11] #32 closed

[2022-11-14 13:17] jot2re commented on #106
Closed as will-not-fixed since we have been using these OIDs in lots of different pieces of software.

[2022-11-14 13:17] #106 closed